/**
 ** Author: Art McBain
 ** This stylesheet is PUBLIC DOMAIN.
 **
 ** All referenced images subject to the license of the demovibes project:
 ** https://github.com/arabek/demovibes
 **/

@import url('nectarine-splash_of_orange.css');
@import url('cvgm.css');

#statistics + li {
    display: list-item;
}

/* CVGM shows more than one new user at a time, so this looks rather silly. */
#newestuser {
    visibility: visible;
    margin-top: 1em;
}

#newestuser .username:before {
    content: none;
}

#newestuser .username:after {
    content: none;
}
