span[style="color: orange"] {
  display: inline;
  transform: none;
  width: auto;
  height: auto;
  overflow: visible;
  margin: 0;
  font-size: inherit;
  color: orange !important;
  background: none;
  box-shadow: none;
}

/*
 * Turns magenta into a space invader! from http://css-tricks.com/examples/ShapesOfCSS/#space-invader
 * by Vlad Zinculescu ( http://ecsspert.com/ )
 */
span[style="color: magenta"] {
  display: inline-block;
  transform: translate(0,0);
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 70px 70px 70px;
  font-size: 14px;
  color: transparent !important;
  background: magenta;
  box-shadow: 0 0 0 1em magenta, 0 1em 0 1em magenta, -2.5em 1.5em 0 .5em magenta, 2.5em 1.5em 0 .5em magenta, -3em -3em 0 0 magenta, 3em -3em 0 0 magenta, -2em -2em 0 0 magenta, 2em -2em 0 0 magenta, -3em -1em 0 0 magenta, -2em -1em 0 0 magenta, 2em -1em 0 0 magenta, 3em -1em 0 0 magenta, -4em 0 0 0 magenta, -3em 0 0 0 magenta, 3em 0 0 0 magenta, 4em 0 0 0 magenta, -5em 1em 0 0 magenta, -4em 1em 0 0 magenta, 4em 1em 0 0 magenta, 5em 1em 0 0 magenta, -5em 2em 0 0 magenta, 5em 2em 0 0 magenta, -5em 3em 0 0 magenta, -3em 3em 0 0 magenta, 3em 3em 0 0 magenta, 5em 3em 0 0 magenta, -2em 4em 0 0 magenta, -1em 4em 0 0 magenta, 1em 4em 0 0 magenta, 2em 4em 0 0 magenta;
}
