/**
 ** Author: Art McBain
 ** This stylesheet is PUBLIC DOMAIN.
 **
 ** All referenced images subject to the license of the demovibes project:
 ** https://github.com/arabek/demovibes
 **/

@import url('nectarine-nostalgia.css');
@import url('cvgm.css');

#main {
    margin-top: 133px;
}

#mainlogo {
    height: 104px;
}

#footer {
    top: 89px;
    height: 24pt;
}
