/**
 ** Author: Art McBain
 ** This stylesheet is PUBLIC DOMAIN.
 **
 ** All referenced images subject to the license of the demovibes project:
 ** https://github.com/arabek/demovibes
 **/

@import url('nectarine-edelweiss.css');
@import url('cvgm.css');

#main {
  padding-bottom: 4em;
}

#footer {
  font-size: smaller;
}
