/**
 ** Author: Art McBain
 ** This stylesheet is PUBLIC DOMAIN.
 **
 ** All referenced images subject to the license of the demovibes project:
 ** https://github.com/arabek/demovibes
 **/

@import url('nectarine-preview.css');

#sidebar, #rightside {
    width: 195px;
}

#main {
    margin-left: 230px;
    margin-right: 230px;
}

/* Oneliner input */
#blah {
    width: 161px;
}

#makeitso {
    right: 9px;
}
