/**
 ** Author: Art McBain
 ** This stylesheet is PUBLIC DOMAIN.
 **
 ** All referenced images subject to the license of the demovibes project:
 ** https://github.com/arabek/demovibes
 **/

@import url('nectarine-preview.css');

.onelinertext {
    padding-left: 0;
    font-family: monospace;
    font-size: 9pt;
}
