/*
 * Random stuff I'm trying out.
 */

/*
 * Generated this myself from one frame of the :necta: GIF.
 * No, I did not do it by hand. Code to the rescue!
 */
span[style="color: orange"] {
  display: inline-block;
  transform: translate(0,0);
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: .8em 31em 27em 0;
  font-size: 5px;
  color: transparent !important;
  box-shadow:  1em  0em 0 0 #000000,
               2em  0em 0 0 #000000,
               3em  0em 0 0 #000000,
              10em  0em 0 0 #9eaa78,
              11em  0em 0 0 #bdc672,
              12em  0em 0 0 #cccc84,
              13em  0em 0 0 #cccc84,
              14em  0em 0 0 #b3b58d,
              15em  0em 0 0 #99a681,
              28em  0em 0 0 #000000,
              29em  0em 0 0 #000000,
              30em  0em 0 0 #000000,
               0em  1em 0 0 #000000,
               1em  1em 0 0 #ffffff,
               2em  1em 0 0 #ffffff,
               3em  1em 0 0 #000000,
               4em  1em 0 0 #000000,
              13em  1em 0 0 #7a896e,
              14em  1em 0 0 #9eaa78,
              15em  1em 0 0 #c9c973,
              16em  1em 0 0 #b7ba71,
              17em  1em 0 0 #b3b58d,
              18em  1em 0 0 #b3b58d,
              19em  1em 0 0 #b3b58d,
              20em  1em 0 0 #bdc672,
              21em  1em 0 0 #b7ba71,
              22em  1em 0 0 #b7ba71,
              27em  1em 0 0 #000000,
              28em  1em 0 0 #000000,
              29em  1em 0 0 #ffffff,
              30em  1em 0 0 #ffffff,
              31em  1em 0 0 #000000,
               0em  2em 0 0 #000000,
               1em  2em 0 0 #ffffff,
               2em  2em 0 0 #ffffff,
               3em  2em 0 0 #ffffff,
               4em  2em 0 0 #000000,
              12em  2em 0 0 #966e2e,
              13em  2em 0 0 #a76416,
              14em  2em 0 0 #b86913,
              15em  2em 0 0 #c8b35c,
              16em  2em 0 0 #b0ab58,
              17em  2em 0 0 #b0ab58,
              18em  2em 0 0 #c9c973,
              19em  2em 0 0 #b0ab58,
              20em  2em 0 0 #8e8d4a,
              21em  2em 0 0 #737850,
              22em  2em 0 0 #737850,
              23em  2em 0 0 #7a896e,
              24em  2em 0 0 #8b9567,
              25em  2em 0 0 #8b9567,
              26em  2em 0 0 #8b9567,
              27em  2em 0 0 #000000,
              28em  2em 0 0 #ffffff,
              29em  2em 0 0 #ffffff,
              30em  2em 0 0 #ffffff,
              31em  2em 0 0 #000000,
               0em  3em 0 0 #000000,
               1em  3em 0 0 #ffffff,
               2em  3em 0 0 #ffffff,
               3em  3em 0 0 #000000,
               4em  3em 0 0 #000000,
              10em  3em 0 0 #b47530,
              11em  3em 0 0 #f59629,
              12em  3em 0 0 #e77706,
              13em  3em 0 0 #e77706,
              14em  3em 0 0 #e77706,
              15em  3em 0 0 #c8b35c,
              16em  3em 0 0 #8e8d4a,
              17em  3em 0 0 #8e8d4a,
              18em  3em 0 0 #b08530,
              19em  3em 0 0 #a05c10,
              20em  3em 0 0 #a76416,
              21em  3em 0 0 #87521b,
              27em  3em 0 0 #000000,
              28em  3em 0 0 #000000,
              29em  3em 0 0 #ffffff,
              30em  3em 0 0 #ffffff,
              31em  3em 0 0 #000000,
               1em  4em 0 0 #000000,
               2em  4em 0 0 #000000,
               3em  4em 0 0 #000000,
               4em  4em 0 0 #306400,
               9em  4em 0 0 #d2852a,
              10em  4em 0 0 #fe9501,
              11em  4em 0 0 #f59629,
              12em  4em 0 0 #e77706,
              13em  4em 0 0 #e77706,
              14em  4em 0 0 #e77706,
              15em  4em 0 0 #b08530,
              16em  4em 0 0 #7c7838,
              17em  4em 0 0 #7c7838,
              18em  4em 0 0 #a76416,
              19em  4em 0 0 #b86508,
              20em  4em 0 0 #aa6007,
              21em  4em 0 0 #a65805,
              22em  4em 0 0 #a05c10,
              27em  4em 0 0 #306400,
              28em  4em 0 0 #000000,
              29em  4em 0 0 #000000,
              30em  4em 0 0 #000000,
               4em  5em 0 0 #306400,
               5em  5em 0 0 #306400,
               6em  5em 0 0 #306400,
               8em  5em 0 0 #f59629,
               9em  5em 0 0 #f59629,
              10em  5em 0 0 #fbc789,
              11em  5em 0 0 #fce9d3,
              12em  5em 0 0 #f9f9f9,
              13em  5em 0 0 #ecd5b8,
              14em  5em 0 0 #d7a771,
              15em  5em 0 0 #c77523,
              16em  5em 0 0 #c77523,
              17em  5em 0 0 #966e2e,
              18em  5em 0 0 #a76416,
              19em  5em 0 0 #b75c03,
              20em  5em 0 0 #b86508,
              21em  5em 0 0 #a65805,
              22em  5em 0 0 #9a5406,
              23em  5em 0 0 #a05c10,
              25em  5em 0 0 #306400,
              26em  5em 0 0 #306400,
              27em  5em 0 0 #306400,
               6em  6em 0 0 #306400,
               7em  6em 0 0 #d2852a,
               8em  6em 0 0 #f59629,
               9em  6em 0 0 #fbc789,
              10em  6em 0 0 #f9f9f9,
              11em  6em 0 0 #f9f9f9,
              12em  6em 0 0 #f9f9f9,
              13em  6em 0 0 #f9f9f9,
              14em  6em 0 0 #f9f9f9,
              15em  6em 0 0 #ebb377,
              16em  6em 0 0 #f59629,
              17em  6em 0 0 #ebb377,
              18em  6em 0 0 #c6baa9,
              19em  6em 0 0 #b3b58d,
              20em  6em 0 0 #b98d62,
              21em  6em 0 0 #a76416,
              22em  6em 0 0 #9a5406,
              23em  6em 0 0 #964d02,
              24em  6em 0 0 #975915,
              25em  6em 0 0 #306400,
               7em  7em 0 0 #f59629,
               8em  7em 0 0 #f59629,
               9em  7em 0 0 #fce9d3,
              10em  7em 0 0 #f9f9f9,
              11em  7em 0 0 #f9f9f9,
              12em  7em 0 0 #f9f9f9,
              13em  7em 0 0 #f9f9f9,
              14em  7em 0 0 #f9f9f9,
              15em  7em 0 0 #ead8c4,
              16em  7em 0 0 #fbc789,
              17em  7em 0 0 #f9f9f9,
              18em  7em 0 0 #f9f9f9,
              19em  7em 0 0 #d8e1e7,
              20em  7em 0 0 #ccd7e1,
              21em  7em 0 0 #b98d62,
              22em  7em 0 0 #a65805,
              23em  7em 0 0 #9f641e,
              24em  7em 0 0 #9a5406,
               6em  8em 0 0 #d2852a,
               7em  8em 0 0 #f59629,
               8em  8em 0 0 #f59629,
               9em  8em 0 0 #f9f9f9,
              10em  8em 0 0 #f9f9f9,
              11em  8em 0 0 #f9f9f9,
              12em  8em 0 0 #8b908d,
              13em  8em 0 0 #191919,
              14em  8em 0 0 #8b908d,
              15em  8em 0 0 #f9f9f9,
              16em  8em 0 0 #fce9d3,
              17em  8em 0 0 #8b908d,
              18em  8em 0 0 #191919,
              19em  8em 0 0 #8b908d,
              20em  8em 0 0 #d8e1e7,
              21em  8em 0 0 #c6baa9,
              22em  8em 0 0 #aa6007,
              23em  8em 0 0 #964d02,
              24em  8em 0 0 #964d02,
              25em  8em 0 0 #9f641e,
               6em  9em 0 0 #e77706,
               7em  9em 0 0 #f59629,
               8em  9em 0 0 #f59629,
               9em  9em 0 0 #fce9d3,
              10em  9em 0 0 #f9f9f9,
              11em  9em 0 0 #f9f9f9,
              12em  9em 0 0 #191919,
              13em  9em 0 0 #171009,
              14em  9em 0 0 #1f201f,
              15em  9em 0 0 #fce9d3,
              16em  9em 0 0 #fce9d3,
              17em  9em 0 0 #191919,
              18em  9em 0 0 #000000,
              19em  9em 0 0 #191919,
              20em  9em 0 0 #d8e1e7,
              21em  9em 0 0 #c6baa9,
              22em  9em 0 0 #a65805,
              23em  9em 0 0 #a05c10,
              24em  9em 0 0 #964d02,
              25em  9em 0 0 #a65805,
               6em 10em 0 0 #fe9501,
               7em 10em 0 0 #fe9501,
               8em 10em 0 0 #bc701a,
               9em 10em 0 0 #fbc789,
              10em 10em 0 0 #f9f9f9,
              11em 10em 0 0 #f9f9f9,
              12em 10em 0 0 #8b908d,
              13em 10em 0 0 #1f201f,
              14em 10em 0 0 #8b908d,
              15em 10em 0 0 #fbc789,
              16em 10em 0 0 #fee39c,
              17em 10em 0 0 #8b908d,
              18em 10em 0 0 #1f201f,
              19em 10em 0 0 #8b908d,
              20em 10em 0 0 #d8e1e7,
              21em 10em 0 0 #b98d62,
              22em 10em 0 0 #aa6007,
              23em 10em 0 0 #773e00,
              24em 10em 0 0 #964d02,
              25em 10em 0 0 #a65805,
               6em 11em 0 0 #e77706,
               7em 11em 0 0 #fe9501,
               8em 11em 0 0 #522d04,
               9em 11em 0 0 #c77523,
              10em 11em 0 0 #fdc97a,
              11em 11em 0 0 #fce9d3,
              12em 11em 0 0 #f9f9f9,
              13em 11em 0 0 #fce9d3,
              14em 11em 0 0 #fbc789,
              15em 11em 0 0 #f59629,
              16em 11em 0 0 #fba33a,
              17em 11em 0 0 #fbc789,
              18em 11em 0 0 #fce9d3,
              19em 11em 0 0 #ead8c4,
              20em 11em 0 0 #d7a771,
              21em 11em 0 0 #bc701a,
              22em 11em 0 0 #8a4702,
              23em 11em 0 0 #281600,
              24em 11em 0 0 #8a4702,
              25em 11em 0 0 #a05c10,
               6em 12em 0 0 #bc701a,
               7em 12em 0 0 #fe9501,
               8em 12em 0 0 #140c04,
               9em 12em 0 0 #381c02,
              10em 12em 0 0 #a76416,
              11em 12em 0 0 #f59629,
              12em 12em 0 0 #f59629,
              13em 12em 0 0 #fe9501,
              14em 12em 0 0 #fe9501,
              15em 12em 0 0 #f59629,
              16em 12em 0 0 #fe9501,
              17em 12em 0 0 #e77706,
              18em 12em 0 0 #e77706,
              19em 12em 0 0 #cc7413,
              20em 12em 0 0 #b86508,
              21em 12em 0 0 #75420a,
              22em 12em 0 0 #281600,
              23em 12em 0 0 #140c04,
              24em 12em 0 0 #964d02,
              25em 12em 0 0 #975915,
               7em 13em 0 0 #e77706,
               8em 13em 0 0 #522d04,
               9em 13em 0 0 #000000,
              10em 13em 0 0 #000000,
              11em 13em 0 0 #cbcaca,
              12em 13em 0 0 #b59e84,
              13em 13em 0 0 #c58b49,
              14em 13em 0 0 #d2852a,
              15em 13em 0 0 #e77706,
              16em 13em 0 0 #e77706,
              17em 13em 0 0 #c77523,
              18em 13em 0 0 #b08b51,
              19em 13em 0 0 #b59e84,
              20em 13em 0 0 #cbcaca,
              21em 13em 0 0 #000000,
              22em 13em 0 0 #000000,
              23em 13em 0 0 #281600,
              24em 13em 0 0 #964d02,
               7em 14em 0 0 #b86913,
               8em 14em 0 0 #964d02,
               9em 14em 0 0 #171009,
              10em 14em 0 0 #000000,
              11em 14em 0 0 #adaeae,
              12em 14em 0 0 #f9f9f9,
              13em 14em 0 0 #f9f9f9,
              14em 14em 0 0 #f9f9f9,
              15em 14em 0 0 #f9f9f9,
              16em 14em 0 0 #f9f9f9,
              17em 14em 0 0 #f9f9f9,
              18em 14em 0 0 #f9f9f9,
              19em 14em 0 0 #f9f9f9,
              20em 14em 0 0 #adaeae,
              21em 14em 0 0 #140c04,
              22em 14em 0 0 #000000,
              23em 14em 0 0 #683801,
              24em 14em 0 0 #975915,
               8em 15em 0 0 #cc7413,
               9em 15em 0 0 #683801,
              10em 15em 0 0 #000000,
              11em 15em 0 0 #2a2c31,
              12em 15em 0 0 #cbcaca,
              13em 15em 0 0 #f9f9f9,
              14em 15em 0 0 #f9f9f9,
              15em 15em 0 0 #f9f9f9,
              16em 15em 0 0 #f9f9f9,
              17em 15em 0 0 #f9f9f9,
              18em 15em 0 0 #f9f9f9,
              19em 15em 0 0 #cbcaca,
              20em 15em 0 0 #3e3e40,
              21em 15em 0 0 #000000,
              22em 15em 0 0 #522d04,
              23em 15em 0 0 #a05c10,
               9em 16em 0 0 #b86508,
              10em 16em 0 0 #773e00,
              11em 16em 0 0 #281600,
              12em 16em 0 0 #191919,
              13em 16em 0 0 #484d52,
              14em 16em 0 0 #979ba9,
              15em 16em 0 0 #d8e1e7,
              16em 16em 0 0 #d8e1e7,
              17em 16em 0 0 #979ba9,
              18em 16em 0 0 #4a4846,
              19em 16em 0 0 #171009,
              20em 16em 0 0 #140c04,
              21em 16em 0 0 #683801,
              22em 16em 0 0 #9f641e,
              10em 17em 0 0 #87521b,
              11em 17em 0 0 #a05c10,
              12em 17em 0 0 #683801,
              13em 17em 0 0 #381c02,
              14em 17em 0 0 #140c04,
              15em 17em 0 0 #000000,
              16em 17em 0 0 #171009,
              17em 17em 0 0 #140c04,
              18em 17em 0 0 #372308,
              19em 17em 0 0 #522d04,
              20em 17em 0 0 #8a4702,
              21em 17em 0 0 #784b19,
              12em 18em 0 0 #784b19,
              13em 18em 0 0 #975915,
              14em 18em 0 0 #b86913,
              15em 18em 0 0 #b86508,
              16em 18em 0 0 #a65805,
              17em 18em 0 0 #a65805,
              18em 18em 0 0 #975915,
              19em 18em 0 0 #784b19,
              13em 19em 0 0 #000000,
              14em 19em 0 0 #000000,
              15em 19em 0 0 #000000,
              16em 19em 0 0 #000000,
              17em 19em 0 0 #306400,
              13em 20em 0 0 #306400,
              17em 20em 0 0 #306400,
              12em 21em 0 0 #306400,
              13em 21em 0 0 #306400,
              17em 21em 0 0 #306400,
              18em 21em 0 0 #306400,
              12em 22em 0 0 #306400,
              18em 22em 0 0 #306400,
              12em 23em 0 0 #306400,
              18em 23em 0 0 #306400,
               9em 24em 0 0 #000000,
              10em 24em 0 0 #000000,
              11em 24em 0 0 #000000,
              12em 24em 0 0 #000000,
              13em 24em 0 0 #000000,
              17em 24em 0 0 #000000,
              18em 24em 0 0 #000000,
              19em 24em 0 0 #000000,
              20em 24em 0 0 #000000,
              21em 24em 0 0 #000000,
               7em 25em 0 0 #000000,
               8em 25em 0 0 #000000,
               9em 25em 0 0 #ffffff,
              10em 25em 0 0 #ffffff,
              11em 25em 0 0 #ffffff,
              12em 25em 0 0 #ffffff,
              13em 25em 0 0 #000000,
              17em 25em 0 0 #000000,
              18em 25em 0 0 #ffffff,
              19em 25em 0 0 #ffffff,
              20em 25em 0 0 #ffffff,
              21em 25em 0 0 #ffffff,
              22em 25em 0 0 #000000,
              23em 25em 0 0 #000000,
               7em 26em 0 0 #000000,
               8em 26em 0 0 #ffffff,
               9em 26em 0 0 #ffffff,
              10em 26em 0 0 #ffffff,
              11em 26em 0 0 #ffffff,
              12em 26em 0 0 #000000,
              13em 26em 0 0 #000000,
              17em 26em 0 0 #000000,
              18em 26em 0 0 #000000,
              19em 26em 0 0 #ffffff,
              20em 26em 0 0 #ffffff,
              21em 26em 0 0 #ffffff,
              22em 26em 0 0 #ffffff,
              23em 26em 0 0 #000000,
               7em 27em 0 0 #000000,
               8em 27em 0 0 #000000,
               9em 27em 0 0 #000000,
              10em 27em 0 0 #000000,
              11em 27em 0 0 #000000,
              19em 27em 0 0 #000000,
              20em 27em 0 0 #000000,
              21em 27em 0 0 #000000,
              22em 27em 0 0 #000000,
              23em 27em 0 0 #000000;
}

span[style="color:#bee125;"],
span[style="color:#bada55;"],
span[style="color:#57a125;"],
span[style="color:#c70010;"] {
  display: inline-block;
  overflow: hidden;
  color: transparent !important;
}

span[style="color:#bee125;"] {
  width: 51px;
  height: 28px;
  background-image: url(nectarine-static/beer.gif);
}

span[style="color:#bada55;"] {
  width: 97px;
  height: 29px;
  background-image: url(nectarine-static/sch_bandmembers.gif);
}

span[style="color:#57a125;"] {
  width: 46px;
  height: 50px;
  background-image: url(nectarine-static/ssig_beammeup_100-100.gif);
}

span[style="color:#c70010;"] {
  width: 41px;
  height: 44px;
  background-image: url(nectarine-static/cthulhu.png);
}

span[style="color:#41de17;"] {
    color: transparent !important;
    background: black;
}

span[style="color:#41de17;"]:hover {
    color: black !important;
    color: unset !important;
    background: none;
}

@-moz-document url-prefix("https://www.scenemusic.net/demovibes/song/38320/") {

    a[href="/demovibes/song/38320/"] {
        animation: single 1s linear 1s 15;
    }
    * {
        animation: hyperactive 1s linear 16s 13, end .5s ease-out 30s 1;
    }

    @-moz-keyframes single {
        from {
            margin-left: -10px;
        }
        to {
            margin-left: 10px;
        }
    }

    @keyframes single {
        0% {
            margin-left: 0;
        }
        25% {
            margin-left: 40px;
        }
        50% {
            margin-left: 0;
        }
        75% {
            margin-left: 40px;
        }
        100% {
            margin-left: 0;
        }
    }

    @-moz-keyframes hyperactive {
      0% {
        margin-top: 0;
        margin-left: 0;
      }
      10% {
        margin-top: 3px;
        margin-left: 0px;
      }
      20% {
        margin-top: -3px;
        margin-left: 3px;
      }
      30% {
        margin-top: 3px;
        margin-left: 3px;
      }
      40% {
        margin-top: 0px;
        margin-left: -3px;
      }
      50% {
        margin-top: 3px;
        margin-left: 1px;
      }
      60% {
        margin-top: -3px;
        margin-left: -3px;
      }
    }

    @keyframes hyperactive {
      0% {
        margin-top: 0;
        margin-left: 0;
      }
      10% {
        margin-top: 3px;
        margin-left: 0px;
      }
      20% {
        margin-top: -3px;
        margin-left: 3px;
      }
      30% {
        margin-top: 3px;
        margin-left: 3px;
      }
      40% {
        margin-top: 0px;
        margin-left: -3px;
      }
      50% {
        margin-top: 3px;
        margin-left: 1px;
      }
      60% {
        margin-top: -3px;
        margin-left: -3px;
      }
    }

    @-moz-keyframes end {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.005);
        }
    }

    @keyframes end {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.005);
        }
    }
}
