@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(nectarine.css);

/* #000000 - Default text color for the entire page
   #fffefa - page background color, background of the "uncolored" notification rows
   #263238 - color for borders and backgrounds of major heading elements
   #ffffff - color for headers, notifications top bar, text input backgrounds, and buttons
   #e65100 - link color
   #ff8340 - link color inside headings
   #455a64 - input borders and button backgrounds (including voting stars)
   #fff9e0 - backgrounds of every other row in song lists, forum thread lists, forum posts, song comments, notifications, and the DnD target list for compilation creation
   rgba(0, 0, 0, .0625) - background for quotes in forum posts and song comments
   rgba(0, 0, 0, .5) - background for overlays behind the smilies and notification settings popups
*/

html {
    font-family: sans-serif;
    font-size: .9em;
    color: #000000;
    background: #fffefa;
}

h1, h2, h3, .taglist > p:first-child, .messagetitle {
    margin-top: 0;
    padding: .5em 1em;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    color: #ffffff;
    background: #263238;
}

.icon_header {
    vertical-align: -.25em !important;
    margin-right: .5em;
}

a[href], .onelinertools > span, .message-display-settings, .message-display-settings:hover {
    text-decoration: none;
    color: #e65100;
}

a[href]:hover, .onelinertools > span:hover, .message-display-settings:hover {
    text-decoration: underline;
}

h2 a[href] {
    color: #ff8340;
}

#sidebar, #rightside {
    width: 200px;
}

#sidebar h3, #rightside h3, .taglist > p:first-child {
    margin-left: -1em;
    margin-right: -1em;
}

#sidebar > div, #rightside > div {
    margin-bottom: 1em;
    padding: 1em;
    padding-top: 0;
    border: 1px solid #263238;
    border-top-width: 0;
}

/* Left sidebar */

#sidebar {
    float: left;
}

#sitemenu {
    height: 4.65em;
    overflow: hidden;
}

#sitemenu:hover {
    height: auto;
}

.menulist {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
}

.menulist li {
    order: 99;
    list-style-type: none;
    line-height: 1.3em;
    background: none !important;
}

.menulist li:empty, #statistics + li:not(#menuqueue), #menuqueue + li, #recentchanges + li {
    display: none;
}

.menulist li:empty + li, #artists, #labels, #statistics, #screenshots {
    margin-top: 1em;
}

#home {
    order: 1;
    margin-bottom: 1em;
}

#home a:before {
    content: '\f015';
}

#menuqueue {
    order: 2;
    white-space: nowrap;
}

#menuqueue a:before {
    content: '\f00b';
}

#search {
    order: 3;
}

#search a:before {
    content: '\f002';
}

#tagcloud {
    order: 4;
}

#tagcloud a:before {
    content: '\f02c';
}

#forum {
    order: 5;
}

#forum a:before {
    content: '\f1ea';
}

#faq {
    order: 6;
}

#faq a:before {
    content: '\f128';
}

#artists {
    order: 12;
}

#artists a:before {
    content: '\f007';
}

#song-platform {
    order: 13;
}

#song-platform a:before {
    content: '\f2db';
}

#songs {
    order: 18;
}

#songs a:before {
    content: '\f001';
}

#labels {
    order: 21;
}

#labels a:before {
    content: '\f1ad';
}

#groups {
    order: 22;
}

#groups a:before {
    content: '\f0c0';
}

#compilations {
    order: 23;
}

#compilations a:before {
    content: '\f187';
}

#song-source {
    display: none;
}

#licenses {
    order: 24;
}

#licenses a:before {
    content: '\f20a';
}

#statistics {
    order: 31;
}

#statistics a:before {
    content: '\f080';
}

#recent {
    order: 32;
}

#recent a:before {
    content: '\f093';
}

#recentchanges {
    order: 33;
}

#recentchanges a:before {
    content: '\f017';
}

#screenshots a:before {
    content: '\f03e';
}

#links a:before {
    content: '\f0c1';
}

#chat {
    display: none;
}

input:not([type]), input[type='text'], textarea {
    color: inherit;
    background: #ffffff;
}

input, button, #blah, #makeitso, textarea, .messagesetting-save, .messagesetting-cancel {
    box-sizing: border-box;
    padding: 2px;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #455a64 !important;
}

input, button, #blah, #makeitso, .messagesetting-save, .messagesetting-cancel {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
}

input[type='file'], input[type='image'] {
    border-color: transparent !important;
}

button, input[type='button'], input[type='submit'], input[type='reset'], .messagesetting-save {
    padding: 2px .5em;
    line-height: 1.2em;
    color: #ffffff;
    background: #455a64 !important;
}

#blah {
    width: 145px;
    width: calc(190px - 3.1em);
}

/* Simple Chat page. Nobody will see this anyway, but whatever. */
#chatbox-main #blah {
    width: calc(100% - 1.7em - 1px) !important;
}

#makeitso {
    width: 1.7em;
    width: calc(1.1em + 8px);
    margin-top: 0;
    border-left: none;
}

#menuoneliner form, #chatbox-main form {
    position: relative;
    text-align: center;
}

#menuoneliner form:after, #chatbox-main form:after {
    content: '\f075';
    position: absolute;
    top: 2px;
    right: 0;
    width: calc(1.1em + 8px);
    font-family: FontAwesome;
    line-height: 1.2em;
    color: #fffefa;
    pointer-events: none;
}

#chatbox-main form:after {
    right: 1px;
}

.onelinertools {
    margin-top: .25em;
}

.onelinertime {
    color: inherit;
}

.onelinerpre {
    display: block;
    margin-bottom: .25em;
}

.onelinertime {
    font-size: 0rem;
}

.onelinertime span {
    font-size: 1rem;
}

.onelinertext {
    display: block;
    overflow: auto;
    word-wrap: break-word;
}

.onelinertext .countryflag + a[href^='/demovibes/user/'] {
    margin-left: .25em;
}

.onelinermsg > br {
    display: none;
}

.onelinermsg a {
    word-wrap: break-word;
}

#oneliner + a {
    display: block;
    text-align: center;
}

/* Right sidebar */

#rightside {
    float: right;
}

.message-display-settings:before {
    content: '\f0f3';
}

#rightside .menulist {
    margin-top: 0;
}

#profile {
    order: 1;
}

#profile a:before {
    content: '\f2bb'
}

#inbox, #logout, #admin, #unap-labels, #unap-screenshots {
    margin-top: 1em;
}

#logout ~ li {
    display: none;
}

#usermenu:hover #logout ~ li {
    display: block;
}

#inbox {
    order: 11;
}

#inbox a:before {
    content: '\f0e0';
}

#favorites {
    order: 12;
}

#favorites a:before {
    content: '\f004';
}

#logout {
    order: 21;
}

#logout a:before {
    content: '\f08b';
}

#admin {
    order: 31;
}

#admin a:before {
    content: '\f0ad';
}

#menumute {
    order: 32;
}

#menumute a:before {
    content: '\f131';
}

#unap-artists {
    order: 41;
}

#unap-artists a:before {
    content: '\f234';
}

#rightside #menuqueue {
    order: 42;
}

#rightside #menuqueue a:before {
    content: '\f001';
}

#unap-nju {
    order: 43;
}

#unap-nju a:before {
    content: '\f129';
}

#unap-labels {
    order: 44;
}

#unap-labels a:before {
    content: '\f1ad';
}

#unap-groups {
    order: 45;
}

#unap-groups a:before {
    content: '\f0c0';
}

#unap-compilations {
    order: 46;
}

#unap-compilations a:before {
    content: '\f187';
}

#unap-screenshots {
    order: 47;
}

#unap-screenshots a:before {
    content: '\f1c5';
}

#unap-links {
    order: 48;
}

#unap-links a:before {
    content: '\f0c1';
}

#nowplaying, [data-name='nowplaying'] {
    text-align: center;
}

#nowplaying h3 {
    text-align: left;
}

#nowplaying br + br, [data-name='nowplaying'] br + br {
    display: none;
}

#nowplaying .vote, [data-name='nowplaying'] .vote {
    margin: 0 auto;
}

#screenshotview a {
    display: block;
}

#screenshotview img {
    max-width: 100%;
}

.starview {
    height: auto;
    white-space: nowrap;
}

.starbutton {
    float: none;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    margin-right: -.125em;
    padding: 0;
    font-size: inherit;
    white-space: nowrap;
    background: none !important;
    border: none !important;
    color: transparent;
}

button.starbutton:before {
    content: '\f006';
    width: 1em;
    overflow: hidden;
    margin-right: 0;
    font-size: 1.5em;
    white-space: nowrap;
    color: #455a64;
}

button.starbutton.star-selected:before {
    content: '\f005';
}

#nowplaying .vote td:nth-child(2) {
    display: none;
}

#nowplaying hr {
    width: 100% !important;
    margin: 1em auto;
}

img[src='/static/deceased.png'] {
    margin-left: .25em;
}

/* Better vertical align empty artist icons */
img[src='/static/user_green.png'] {
    vertical-align: -1px
}

/* Center stuff */

:not(.onelinertools):before {
    display: inline-block;
    width: 1.28571429em;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    text-align: center;
}

#main {
    margin: 0 214px;
    margin: 0 calc(200px + 1em);
}

#logo {
    display: block;
    margin: 0 auto .65em;
}

h2, #main h3 {
    margin-top: 1em;
}

.icon_header[src='/static/script.png'] {
    display: none;
}

.icon_header[src='/static/script.png'] + span:before {
    content: '\f00b';
}

.icon_header[src='/static/hourglass.png'] {
    display: none;
}

.icon_header[src='/static/hourglass.png'] + span:before {
    content: '\f017';
}

.platform_icon, [alt='Platform'] {
    vertical-align: -.2em;
    margin-right: .25em;
}

.username .countryflag {
    margin-right: .25em;
}

label {
    margin-right: .5em;
}

form > input[type='submit'], form > input[type='reset'] {
    margin-top: .5em;
}

#linksform tr:hover {
    background: none;
}

#linksform th {
    text-align: right;
}

#footer {
    margin-top: 2em;
    padding-top: .5em;
    border-top: 1px solid #263238;
}

/* Page specific stuff */

/* Profile page */
.profile-theme {
    float: none;
    font-size: inherit;
}

.profile-theme a:before {
    content: '\f1fc';
}

.profile-theme + a:before {
    content: '\f069';
}

.profile-theme + a + br + a:before {
    content: '\f2bc';
}

a[href^='.?killroot='] {
    display: inline-block;
    width: 1em;
    overflow: hidden;
    line-height: .9em;
    white-space: nowrap;
}

a[href^='.?killroot=']:before {
    content: '\f00d';
    margin-right: 1em;
}

#lic-info {
    margin-bottom: 1em;
}

#lic-info + form table {
    display: inline-table;
    vertical-align: middle;
}

#lic-info + form table ~ input {
    vertical-align: middle;
}

#lic-info + form input[name='artistdata'][type='submit'] {
    margin-top: 0;
}

#main #profileform {
    width: auto;
}

#profileform th, #profileform td,
#compilationsubmitform th, #compilationsubmitform td,
form[action='/demovibes/screenshot/create/'] th, form[action='/demovibes/screenshot/create/'] td,
#maincontent > h2:first-child + p + p + form table:not(#linksform) th, #maincontent > h2:first-child + p + p + form table:not(#linksform) td,
#maincontent > h2:first-child + p + p + br + form table:not(#linksform) th, #maincontent > h2:first-child + p + p + br + form table:not(#linksform) td,
#maincontent > h2:first-child + form[action='.'] table:not(#linksform) th, #maincontent > h2:first-child + form[action='.'] table:not(#linksform) td,
#maincontent > h2:first-child + p + br + form[action='.'] table:not(#linksform) th, #maincontent > h2:first-child + p + br + form[action='.'] table:not(#linksform) td
{
    display: block;
    text-align: left;
}

/* The next block set is annoying and long. Only way to target the checkbox settings. */
#profileform tr:nth-child(13), #profileform tr:nth-child(14), #profileform tr:nth-child(15), #profileform tr:nth-child(16),
#profileform tr:nth-child(17), #profileform tr:nth-child(19), #profileform tr:nth-child(20), #profileform tr:nth-child(21)
{
    display: flex;
}

#profileform tr:nth-child(13) th, #profileform tr:nth-child(14) th, #profileform tr:nth-child(15) th, #profileform tr:nth-child(16) th,
#profileform tr:nth-child(17) th, #profileform tr:nth-child(19) th, #profileform tr:nth-child(20) th, #profileform tr:nth-child(21) th
{
    order: 2;
}

#profileform tr:nth-child(13) th label, #profileform tr:nth-child(14) th label, #profileform tr:nth-child(15) th label, #profileform tr:nth-child(16) th label,
#profileform tr:nth-child(17) th label, #profileform tr:nth-child(19) th label, #profileform tr:nth-child(20) th label, #profileform tr:nth-child(21) th label
{
    vertical-align: middle;
}

#profileform tr:nth-child(13) th, #profileform tr:nth-child(13) td, #profileform tr:nth-child(14) th, #profileform tr:nth-child(14) td,
#profileform tr:nth-child(15) th, #profileform tr:nth-child(15) td, #profileform tr:nth-child(16) th, #profileform tr:nth-child(16) td,
#profileform tr:nth-child(17) th, #profileform tr:nth-child(17) td, #profileform tr:nth-child(19) th, #profileform tr:nth-child(19) td,
#profileform tr:nth-child(20) th, #profileform tr:nth-child(20) td, #profileform tr:nth-child(21) th, #profileform tr:nth-child(21) td
{
    display: inline-block;
}
/* end annoyance */

#profileform input:only-child, #profileform select:only-child {
    margin-bottom: .25em;
}

/* Song page */
div.taglist {
    margin-top: .25em;
    margin-left: .5em;
    padding: 1em;
    padding-top: 0;
    background: none;
    border-color: #263238;
    border-top-width: 0;
    border-radius: 0;
}

.editdiv textarea {
    width: 100%;
}

/* Song votes page */
img[src^="/static/rating_"] + span .countryflag {
    margin-right: .25em;
}

/* Search form (page) */
#searchform th, #searchform td {
    display: block;
    text-align: left;
}

#searchform ul {
    display: flex;
}

#searchform li:nth-child(2) {
    order: 2;
    margin-left: 1em;
}

#searchform li:nth-child(5) {
    order: 3;
}

#searchform input[type='checkbox'] {
    vertical-align: -.1em;
}

.searchpostpreview {
    margin-left: calc(16px + .25em - 1em);
    padding: 0;
    background: none;
    border: none;
}

.searchpostpreview p:first-child {
    margin-bottom: .25em;
    padding: 0 1em;
}

.searchpostpreview p:first-child ~ p {
    margin: 0;
    padding: .75em 1em;
    background: #fff9e0;
}

.searchpostpreview p:last-child:empty {
    display: none;
}

/* Streams page only (I hope) */
.bubbleInfo .popup {
    display: block !important;
    opacity: 1 !important;
    margin-left: 16px;
    padding-left: .25em;
}

.bubbleInfo .popup p:last-child {
    margin-bottom: 0;
}

/* User profile page */

a[href^='/demovibes/inbox/send/?to='] {
    display: inline-block;
    margin-top: .5em;
    margin-bottom: .125em;
}

a[href^='/demovibes/inbox/send/?to=']:before {
    content: '\f0e0';
    margin-right: .25em;
}

a[href^='/demovibes/inbox/send/?to='] img[src='/static/email.png'][alt='mail'] {
    display: none;
}

h2 + img[alt$=' Avatar]'] {
    float: left;
    margin-right: .5em;
    margin-bottom: 8em;
}

/* This website has a <br> and <table> fetish. They're everywhere, even where they don't need to be.
   This is why (Tim Berners-Lee) invented paragraph tags!

   This doesn't work on pages that don't have avatars. Not a big deal.
*/
h2 + img[alt$=' Avatar]'] + br, h2 + img[alt$=' Avatar]'] + br + br,
h2 + img[alt$=' Avatar]'] ~ em + br, h2 + img[alt$=' Avatar]'] ~ strong + br,
h2 + img[alt$=' Avatar]'] ~ em + br + br, h2 + img[alt$=' Avatar]'] ~ strong + br + br
{
    display: none;
}

h2 + img[alt$=' Avatar]'] ~ em, h2 + img[alt$=' Avatar]'] ~ strong {
    display: inline-block;
    margin-bottom: .5em;
}

/* WTF! Seriously? A <font> tag in 2017? Shiiiit. */
h2 + img[alt$=' Avatar]'] ~ font {
    display: block;
    margin-top: .5em;
    color: inherit;
}

/* Artist page contents */

/* Limits the size of cover images on summaries and ensures a minimum width. */
.compilation_summary, .group_summary, .artist_details, .label_summary {
    max-width: 250px;
    min-width: 100px;
    padding-right: .5em;
}

/*
   Ensures left and right columns on the information pages are aligned to the
   top regardless of which has more content.
*/
.compilation_summary, .group_summary, .artist_details, .label_summary,
.compilation_description, .group_description, .artist_information, .label_description
{
    vertical-align: top;
}

.compilation_screenshot, .group_logo, .artist_logo, .label_logo {
    width: 100%;
}

.group_icon {
    margin-right: .25em;
    vertical-align: -.1em;
}

.artist_information {
    vertical-align: top;
}

.artist_information > a:first-of-type {
    display: inline-block;
    margin-bottom: .5em;
}

.artist_information br + br {
    display: none;
}

.artist_information a[target='_blank'] {
    display: inline-block;
    margin-top: 1em;
}

.artist_information a[target='_blank']:before {
    content: '\f0c1';
}

.artist_information a[target='_blank'] + br + a {
    margin-top: 0;
}

.artist_information a[target='_blank'] + br + a:before {
    content: '\f040';
}

.artist_information a[href$='/upload/'] {
    display: inline-block;
    margin-top: 1em;
}

.songlist, .recent-approvals {
    width: 100%;
    border-spacing: 0;
}

.recent-approvals #formvote {
    display: inline-block;
    vertical-align: .25em;
}

.recent-approvals .linkform {
    vertical-align: top;
}

.songlist tr:nth-child(even) td {
    background: #fff9e0;
}

.songlist td {
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

.songlist td:last-child {
    padding-right: 1px;
}

.song_tail {
    padding: 0 3px;
}

/* Tag cloud page */

.tagview_1, .tagview_2, .tagview_3, .tagview_4 {
    white-space: nowrap;
}

.tagview_1 a {
    font-size: .8em;
}

.tagview_2 a {
    font-size: 1.11em;
}

.tagview_3 a {
    font-size: 1.667em;
}

.tagview_4 a {
    font-size: 2.22em;
}

/* FAQ entry titles */

a[name] + strong {
    font-size: 1.25em;
}

/* Screenshots/images listing page */

div.screenshot, div.screenshot:hover {
    float: none;
    display: inline-block;
    height: auto;
    vertical-align: top;
    padding: 3px;
    background: none;
    border: none;
}

/* Should not be fixed size (from the base CSS) */
div.screenshot, .screenshot {
    height: auto;
}

/* Screenshot viewing page */

div#screenshot-image {
    margin-right: .5em;
    margin-bottom: 1em;
}

#screenshot-connected ul {
    margin-top: 0;
}

#screenshot-connected li {
    display: inline-block;
}

#screenshot-connected li:after {
    content: ',';
}

#screenshot-connected li:last-child:after {
    content: none;
}

/* Links page content */

.text-link {
    margin-right: .25em;
}

/* Stats page content */
p > a[href='/demovibes/statistics/leastvotes/']:before {
    content: '\f006';
}

p > a[href='/demovibes/statistics/random/']:before {
    content: '\f074';
}

p > a[href='/demovibes/statistics/mostvotes/']:before {
    content: '\f123';
}

p > a[href='/demovibes/statistics/voted/']:before {
    content: '\f091';
}

p > a[href='/demovibes/statistics/favorites/']:before {
    content: '\f004';
}

p > a[href='/demovibes/statistics/unplayed/']:before {
    content: '\f01d';
}

p > a[href='/demovibes/statistics/queued/']:before {
    content: '\f144';
}

p > a[href='/demovibes/statistics/overview/radio/']:before {
    content: '\f277';
}

p > a[href='/demovibes/statistics/overview/users/']:before {
    content: '\f080';
}

p > a[href='/demovibes/statistics/forgotten/']:before {
    content: '\f28e';
}

/* Recent updates page */
.recent_icon_header {
    vertical-align: -.1em;
    margin-right: .25em;
}

.recentchanges, .recentchanges table {
    width: 100%;
}

.recentchanges td {
    vertical-align: top;
}

.compilation_icon, .label_icon {
    margin-right: .25em;
}

/* Forum/comments shit */

#djangoForumThreadPosts {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
}

#djangoForumThreadPosts tr:first-child {
    display: none;
}

#djangoForumThreadPosts tr:nth-child(4n - 2), #djangoForumThreadPosts tr:nth-child(4n - 1),
#djangoForumThreadList tr:nth-child(even), #djangoForumList tr:nth-child(even) {
    background: #fff9e0;
}

#djangoForumThreadPosts .djangoForumThreadPostDetail, #djangoForumThreadPosts .post {
    vertical-align: top;
}

table#djangoForumThreadPosts .djangoForumThreadPostDetail > img {
    margin-top: .125em;
}

table#djangoForumThreadPosts .djangoForumThreadPostDetail .countryflag {
    margin-right: .25em;
}

table#djangoForumThreadPosts .djangoForumThreadPostDetail br + br,
table#djangoForumThreadPosts .djangoForumThreadPostDetail br + br + br {
    display: none;
}

table#djangoForumThreadPosts .djangoForumThreadPostDetail > a {
    display: block;
    margin-top: .5em;
}

/* 99% borrowed from Splash of Orange */
table#djangoForumThreadPosts .djangoForumThreadPostDetail {
    width: 112px;
    max-width: 112px;
    vertical-align: top;
    overflow: hidden;
    padding: .75em 0 0 1em;
}

table#djangoForumThreadPosts tr.postfooter td:first-child {
    padding-top: .75em;
    padding-left: 1em;
}

/* Right align text in the second post footer column ("Quote", "Edit Post" text) */
table#djangoForumThreadPosts tr.postfooter td:last-child {
    padding-top: .75em;
    padding-right: 1em;
    text-align: right;
}

table#djangoForumThreadPosts tr.postfooter td:only-child {
    text-align: left;
}

table#djangoForumThreadPosts .post > div, .post > p {
    overflow: auto;
}
/* end borrowing */

/* No more "Quote" text that does nothing. */
table#djangoForumThreadPosts tr.postfooter td:last-child span:last-child {
    display: none;
}

table#djangoForumThreadPosts tr.postfooter td:last-child a i {
    font-style: normal;
}

table#djangoForumThreadPosts tr.postfooter td:last-child a:before {
    content: '\f040';
}

table#djangoForumThreadPosts .post {
    padding: .75em 1em 0 1em;
}

table#djangoForumThreadPosts tr.postfooter td {
    padding-bottom: .75em;
}

#djangoForumThreadPosts .post > p:first-child {
    margin-top: 0;
}

.bbquote {
    padding: .821em 1em;
    background: rgba(0, 0, 0, .0625);
    border-left: 1px solid #263238;
}

.bbquote > b:first-child {
    display: block;
    margin-bottom: .5em;
}

.bbquote > .bbquote {
    margin: 1em;
}

#djangoForumThreadPosts .post > div:first-child > .bbquote:first-child {
    margin-top: .25em;
}

#djangoForumList td, #djangoForumThreadList td {
    padding: 5px;
}

#djangoForumBreadcrumbs {
    margin-bottom: 1em;
}

#djangoForumList, #djangoForumThreadList {
    width: 100%;
    margin-bottom: 1em;
    border-spacing: 0;
}

#djangoForumList th, #djangoForumList td {
    vertical-align: top;
}

#djangoForumList .countryflag, #djangoForumThreadList .countryflag {
    margin-right: .25em;
}

#djangoForumList .djangoForumListDetails p:first-child {
    margin-top: 0;
}

#djangoForumList .djangoForumListDetails p:last-child {
    margin-bottom: 0;
}

label[for='id_body'] {
    font-weight: bold;
}

#id_subscribe {
    float: left;
    margin-right: .42em;
}

#id_body {
    box-sizing: border-box;
    width: 100%;
}

/* Theme selection page */

/* Borrowed straight from Splash of Orange */
.theme {
    position: relative;
    width: 128px;
    height: 226px;
}

.activetheme {
    height: 224px;
}

.activetheme {
    border-color: #263238;
}

.themeby {
    white-space: nowrap;
}

.themeimage {
    max-height: 130px;
    overflow: hidden;
}

.theme .user_count, .theme .isdefault, .theme .islocal, .theme form {
    position: absolute;
    right: 0;
    bottom: 1em;
    left: 0;
}

.theme .user_count, .theme .isdefault, .theme .islocal {
    text-align: center;
}

.theme .isdefault {
    margin-bottom: 26px;
}

.theme .islocal {
    margin-bottom: 41px;
}

.theme .user_count {
    margin-bottom: 55px;
}

.theme form {
    right: 1em;
    left: 1em;
}

.theme form input {
    width: 100%;
}

.themedescription + a {
   display: inline-block;
   margin: 1em 0 .5em;
}
/* end borrowing */

/* Tags edit page */

#tagfield {
    display: block;
    width: 100%;
}

/* Compilation creation page */

label[for='songid'] {
    display: block;
    font-weight: bold;
}

#addsongsubmit {
    margin-top: 0;
}

#sortsonglist {
    box-sizing: border-box;
    background: #fff9e0;
    border: 1px dashed #263238;
}

/* Fixes a vertical scrollbar in Chrome that isn't needed without killing overflow. Got to be a rendering bug. */
#compilationsubmitform {
    border-bottom: 1px solid transparent;
}

/* Notifications */
.messageholder {
    padding: .5em 1em;
    background: #fffefa;
    opacity: 1;
}

.messageholder:hover {
    background: #fffefa;
}

.messageholder:nth-child(odd) {
    background: #fff9e0;
}

.messageholder:last-child {
    border-bottom: 1px solid #263238;
}

.messagefadeborder {
    margin-top: 3px;
    border-color: #263238;
}

.messagefade {
    background: #263238;
}


/* Screenshot creation page */
form[action='/demovibes/screenshot/create/'] > p {
    font-weight: bold;
}

form[action='/demovibes/screenshot/create/'] input[name='connectto'] {
    display: block;
    margin-top: .25em;
}

/* Misc content */
a[href^='/demovibes/song'] + .text-link {
    margin-left: .25em;
    vertical-align: middle;
}

.smileybox-holder, .messagesettingsbox-holder {
    background: rgba(0, 0, 0, .5);
}

.smileybox {
    top: 50%;
    transform: translateY(-50%);
    background: #fffefa;
    border: none;
}

.messagesettingsbox {
    top: 50%;
    margin-left: 0;
    padding: 1em;
    transform: translate(-50%, -50%);
    background: #fffefa;
    border: none;
    /* CVGM has no .messagesettingsbox-holder; this emulates having one. */
    box-shadow: 0 0 0 10000000px rgba(0, 0, 0, .5);
}

/* Unfix CVGM fixes for Nectarine */
.messagesettingsbox-holder > .messagesettingsbox {
    box-shadow: none;
}

.messagesettingsbox h2 {
    margin: -1em -1em 0;
}

.messagesettings div {
    padding-left: 0;
    padding-right: 0;
}

.messagesetting-save, .messagesetting-cancel {
    margin: 0;
    margin-top: 1em;
}

.messagesetting-cancel {
    margin-left: 1em;
    padding: 2px .5em;
}

#setting-flashoff {
    float: left;
}
