@import url(nectarine.css);

/**
 ** Author: Art McBain
 ** This stylesheet is PUBLIC DOMAIN.
 **
 ** I based this theme off of my Nostalgia theme, so there might be some
 ** superfluous styles left hanging around. Some styles (for the profile
 ** form) were borrowed from Edelweiss. Maybe if this were all more
 ** modular, a stylesheet could @import block-profile-form or other bits
 ** as wanted to build a theme mixin-style.
 **
 ** All referenced images subject to the license of the demovibes project:
 ** https://github.com/arabek/demovibes
 **/

html {
    font-family: verdana,arial,geneva,sans-serif;
    font-size: .7em;
}

html, #newslist:after, div[data-name=queue] + h2:before, #maincontent > h2:not(:first-child):before {
    background: #4b4a46;
}

body {
    max-width: 916px;
    margin: 0 auto;
}

h2, #maincontent h1 {
    margin: 0;
    margin-bottom: 1em;
    padding: 1px;
    font-size: 1em;
    font-weight: bold;
    text-indent: 3px;
    color: white;
    background-repeat: no-repeat;
}

#maincontent > h2 {
    margin-top: 1em;
}

h2 .headline {
    vertical-align: middle;
}

h2 img {
    float: left;
    margin: 0 3px 0 6px;
}

/* Probably makes the previous block useless, but whatever. */
.icon_header {
    display: none;
}

h2 img, h2 .date {
    color: black;
    font-weight: normal;
}

h2 .date {
    display: block;
    padding-top: .2em;
    font-size: .7em;
    background: url("nectarine-orange/stripes.png") repeat-x #ffbd31;
    border-top: 1px solid black;
}

div[data-name=nowplaying] {
    position: relative;
    text-align: center;
    padding: .75em 5px 0;
    border: 1px solid black;
    border-bottom: none;
}

div[data-name=nowplaying] object {
    position: relative;
    left: -5px;
    margin-top: 1em;
    margin-bottom: 0;
}

#screenshotview {
    margin: 1em 0;
}

/* Hide the platform icon when it would normally display the "platform not set" icon */
div[data-name=nowplaying] img[src*=empty] {
    display: none;
}

/* Forces the "by {artist}" part onto the next line by inserting a block element after the song title link */
div[data-name=nowplaying] a[href*=song]:after {
    display: block;
    content: "";
}

/* The previous style will also include the voting star links. This undoes that just in case it matters */
div[data-name=nowplaying] a[href*=vote]:after {
    display: inline;
}

/*
   Centers the "explicit content" image, which appears after the song title, and thus on the next line
   after the line-break inserted above ... best fix for the moment for this, as they re-used a CSS class
   (something you really shouldn't do like this, makes things hard to style)
 */
div[data-name="nowplaying"] .text-link {
    display: block;
    margin: 0 auto !important;
}

/*
   Allows us to make items inside table as large as possible (tables on demovibes appear "full width"
   even if they're not declared that way, so this doesn't hurt anything)
 */
form table {
    width: 100%;
}

form table ul {
    list-style-type: none;
}

/* Subtle movement of the links below a PM away from the bottom of the main content container. */
.pm_content ~ a:last-child {
    display: inline-block;
    margin-bottom: .25em;
}

/*
   Centers the submit buttons at the bottom of the PM, Edit Profile forms, and adding new threads on
   the forum. It also moves them down a bit further to prevent them from being easily overlooked
 */
input[value="Send"], input[value="Update"], input[value="Post"], input[value="Submit"], input[value="Add New Comment"] {
    display: block;
    margin: 1ex auto .5em auto;
}

input[value="Search"] {
    margin-left: .25em;
}

input[value^="Log In"] {
    display: block;
    margin: 0 auto;
}

input[value^="Log Me Out"] {
    display: block;
    margin: 0 auto;
}

/* Textarea for adding new song comments. Make it as wide as possible */
textarea[name="Comment"] {
    width: 97%;
    margin-bottom: .5em;
}

/* Generic input styles */
select, input[type="submit"], input[type="button"], button {
    border: 1px solid;
    border-color: white black black white !important;
    background-color: #ffbd31;
}

select, input:not([type]), input[type="text"], input[type="submit"], input[type="button"], input[type="file"], button {
    width: 150px;
}

input[type="submit"], input[type="button"], button {
    height: 16px;
    padding: 0;
    line-height: 16px;
}

select, input[type="submit"], input[type="button"], button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

select, input:not([type]), input[type="text"], input[type="file"], textarea {
    border: 1px solid black;
    border-color: black white white black;
    background-color: #ffbd31;
}

/* The little green guys don't like text encroaching on their personal space bubble */
img[src*="user_green"] {
    margin-right: 5px;
}

img[id^="vote-"] {
    width: 18px;
    height: 18px;
}

a , .smileys-clicker, .message-display-settings, #maincontent div.pagesBottom + h2 a, #footer a {
    font-weight: bold;
    color: #eeb30f;
    text-decoration: none;
}

#sidebar a, #rightside a, .smileys-clicker, .message-display-settings, .message-display-settings:hover, h2 a, .messagetext a {
    color: #844400;
}

a img {
    vertical-align: top;
    border: none;
}

/* I only changed the background-color, but I pulled all the styles in here. It's harder to override inline styles */
hr {
    width: 80% !important;
    height: 1px !important;
    border: 0px none !important;
    background-color: #444 !important;
}

#sidebar, #rightside {
    width: 200px;
    margin-bottom: 1.5em;
    text-align: center;
}

/*
   The bottom of the #rightside (right sidebar) has a <br> at the bottom. This one doesn't, so the "Who's Online?"
   section is too close to the bottom otherwise.
 */
#sidebar {
    float: left;
    padding-bottom: 1em;
}

/* This is what makes all the website's section headings appear as a right-aligned, underlined title */
#sidebar div h3, #rightside div h3 {
    margin: -3px -3px 0;
    padding-bottom: 2px;
    text-indent: 5px;
    background: url(nectarine-orange/widget.png) no-repeat right 1px, url(nectarine-orange/stripes.png) repeat-x #fa980f;
}

.message-display-settings {
  padding: 3px 0 6px;
  border: 1px solid black;
  border-bottom: none;
}

#menuoneliner, #menuonline, #usermenu, #nowplaying, .newsentryside {
    position: relative;
    margin-bottom: 13px;
    background: #ffbd31;
    border: 4px solid #fa980f;
    outline: 1px solid black;
    outline-offset: -1px;
}

#mainlogo:after, #menuoneliner:after, #menuonline:after, #usermenu:after, #nowplaying:after, .newsentryside:after {
    content: "";
    position: absolute;
    top: -2px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 1px solid black;
    border-top: none;
    opacity: .2;
    z-index: 0;
}

#nowplaying:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3.45em;
    padding-top: 1px;
    border: 1px solid black;
    border-top: none;
}

#mainlogo:after {
    top: 1px;
    right: 0;
    bottom: 0;
    left: 0;
}

#menuoneliner > *, #menuonline > *, #usermenu > *, #nowplaying > *, .newsentryside > * {
    position: relative;
    z-index: 1;
}

#sitemenu {
    z-index: 1;
    border-top: 2px solid transparent;
}

div#sitemenu h3 {
    position: absolute;
    bottom: -1.3em;
    line-height: 1;
    color: white;
    background: none;
}

#sitemenu ul {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    margin: 0;
    padding: 1px;
    line-height: 1;
    background: black;
}

#sidebar #sitemenu  li {
    list-style: none;
    float: left;
    margin: 0;
    margin-right: 1px;
    text-align: center;
    background: #8c8c8c;
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3 #6c6a6b #6c6a6b #b3b3b3;
}

#sitemenu a {
    display: block;
    width: 85px;
    padding: 4px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#sidebar li#faq {
    margin-right: 0;
}

#songs, #song-source, #song-platform, #groups, #labels, #compilations, #screenshots, #licenses,
#statistics + li, #sitemenu #menuqueue + li, #recentchanges, #recentchanges + li, #links, #chat,
#menumute + li
{
    display: none;
}

#menuoneliner:before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    width: 8px;
    height: 8px;
    background: #cc0033;
}

#menuoneliner.updatesActive:before {
    background: #00cc00;
}

#menuoneliner.updatesIdle:before {
    background: darkgray;
}

#rightside {
    float: right;
}

#rightside ul {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    border: 1px solid black;
   border-top: none;
}

#rightside ul li {
    list-style: none;
    padding-left: 27px;
    text-align: left;
    background-position: 5px 0;
    background-repeat: no-repeat;
}

#rightside ul li:not([id]) {
    height: 10px;
    min-height: 10px;
}

#rightside ul li a {
    vertical-align: middle;
}

#sidebar form, #rightside form {
    position: relative;
    text-align: center;
}

#rightside .vote form {
    margin-bottom: 0;
}

/*
   Center the "Disclaimer" section text. The disclaimer div doesn't have any identifiable attributes so we must
   target all paragraph tags in the right sidebar, and make exceptions for non-centered identifiable paragraphs
 */
#rightside p {
    margin: 0;
    text-align: center;
}

/* Uncenter the "The Team" section text. Demovibes after the validation errors fix doesn't need this anymore. */
#rightside div[align=left] p {
    text-align: left;
}

/* Button code from http://www.webdesignerwall.com/tutorials/css3-gradient-buttons/ */

#rightside input[value="Listen"] {
    width: 75px;
    margin: 0 2px .75em;
}

#rightside hr {
    margin-top: 0;
    margin-bottom: 1em;
}

#menuoneliner form {
    padding-top: 1em;
    border: 1px solid black;
    border-bottom: none;
}

/*
   Sometimes text in the oneliner is too long and has no spaces, so rather than hide the overflow, or let it
   overflow into the main content area, let the browser provide a scrollbar until that oneliner message is
   pushed out of the view. Even if you don't use the scrollbar, the oneliner should appear the same. Total win
 */
#oneliner {
    overflow: hidden;
    padding: 0 5px;
    text-align: left;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
}

#oneliner + a {
    display: block;
    padding: .25em;
    text-align: center;
    border: 1px solid black;
    border-top: none;
}

/* All the top right and left menu images */
#home         {background-image: url("nectarine-static/house.png");}
#songs        {background-image: url("nectarine-static/music.png");}
#song-platform    {background-image: url("nectarine-preview/joystick.png");}
#artists    {background-image: url("nectarine-static/user_green.png");}
#compilations   {background-image: url("nectarine-preview/cd.png");}
#screenshots   {background-image: url("nectarine-preview/pictures.png");}
#licenses   {background-image: url("nectarine-preview/page.png");}
#tagcloud        {background-image: url("nectarine-preview/tag_yellow.png");}
#statistics   {background-image: url("nectarine-static/chart_bar.png");}
#recent            {background-image: url("nectarine-static/new.png");}
#sidebar #menuqueue    {background-image: url("nectarine-static/script.png");}
#rightside #menuqueue    {background-image: url("nectarine-preview/page_white_get.png");}
#search        {background-image: url("nectarine-static/find.png");}
#forum        {background-image: url("nectarine-static/user_comment.png");}
#profile    {background-image: url("nectarine-preview/vcard_edit.png");}
#favorites    {background-image: url("nectarine-static/heart.png");}
#register    {background-image: url("nectarine-static/page_white_edit.png");}
#logout        {background-image: url("nectarine-static/door_out.png");}
#login        {background-image: url("nectarine-static/door_in.png");}
#admin        {background-image: url("nectarine-preview/wrench.png");}
#inbox        {background-image: url("nectarine-static/email.png");}
#menumute  {background-image: url("nectarine-preview/sound_mute.png");}
#unap-artists   {background-image: url("nectarine-static/user_green.png");}
#unap-groups    {background-image: url("nectarine-static/group.png");} 
#unap-labels    {background-image: url("nectarine-static/transmit_blue.png");}
#unap-links     {background-image: url("nectarine-static/link.png");}
#unap-compilations   {background-image: url("nectarine-preview/cd.png");}
#unap-screenshots {background-image: url("nectarine-preview/monitor.png");}
#unap-nju    {background-image: url("nectarine-preview/information.png");}
#groups         {background-image: url("nectarine-static/group.png");} 
#labels        {background-image: url("nectarine-static/transmit_blue.png");}
#links        {background-image: url("nectarine-static/link.png");}
#recentchanges    {background-image: url("nectarine-preview/time.png");}
#faq        {background-image: url("nectarine-preview/help.png");}
#song-source        {background-image: url("nectarine-preview/server_connect.png");}
#chat        {background-image: url("nectarine-preview/user.png");}

#admin, #unap-artists {
    margin-top: 10px;
}

#forum {
    margin-bottom: 10px;
}

#searchform {
    margin-bottom: 1.5em;
}

#main {
    margin-top: 157px;
    margin-left: 198px;
    margin-right: 198px;
    padding: 0 9px;
}

#mainlogo, #sitemenu {
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    height: 123px;
    padding-top: 11px;
    line-height: 123px;
}

#mainlogo {
    border: 1px solid black;
    background: url(nectarine-orange/stripes.png) repeat-x #eeb30f;
}

@media (min-width:936px) {
    #mainlogo, #sitemenu, .messagebox {
        right: auto;
        left: 50%;
        width: 914px;
        margin-left: -458px;
    }
}

@media (min-width:1130px) {
    /* Test CSS for a wider Splash of Orange */
    #site:target {
        max-width: 1116px;
    }
    #site:target #mainlogo, #site:target #sitemenu, #site:target .messagebox {
        width: 1114px;
        max-width: 100%;
        margin-left: -558px;
    }
}

#mainlogo img {
    display: block;
    margin: 0 auto;
}

#main > h1 {
    display: none;
}

#main h3 {
    margin: 4px 0 .5em 1em;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
}

/* On the "My Favorites" page, reduce the space between the end of the song list table and the page navigation */
#maincontent > br:last-of-type {
    margin-top: -1em;
}

/*
   Most page navigations on Demovibes print each page number on a separate line in the source which, for inline
   elements, means browsers should turn the newlines into a space and display it on the same line as the previous
   element. On the favorites page, they're all printed on the same line in the source, so no spaces. I liked the
   spaces, and even more, interface consistency. So this adds the spaces back in.
 */
#maincontent a[href*="favorites/?page"]:after {
    content: " ";
}

/* See previous. The active page is a bold tag, not a link. */
#maincontent b:last-of-type:after {
    content: " ";
}

/* Oneliner input */
#blah {
    position: relative;
    top: -1px;
    width: 139px;
}

#makeitso {
    width: 18px;
    margin-left: 7px;
    padding: 1px 0;
}

#whosonlinenicks {
    padding-top: 3px;
    border: 1px solid black;
}

#whosonline {
    padding: 0 5px;
    text-align: center;
}

#whosonline span {
    white-space: nowrap;
}

#whosonline .countryflag {
    margin-left: 5px;
}

#whosonline + br{
    display: none;
}

#newestuser {
    padding: 3px;
}

#newestuser {
    visibility: hidden;
}

#newestuser .username {
    visibility: visible;
}

#newestuser .username:before {
    content: "Please welcome ";
}

#newestuser .username:after {
    content: ", our newest member.";
}

/* Table? They used a TABLE?? ARGH!!! Also, I'm hoping on all the following that the only page with a form
 * immediately following an h2 at the start of the page is the PM-sending page, which I can't target any
 * other way unfortunately.
 */
.profile-theme ~ form, #compilationsubmitform, h2:first-child + form, #djangoForumThreadList ~ form,
h2:first-child + p + br + form
{
  overflow: hidden;
  text-align: center;
}

/* Cause all profile tables to only be as wide as their contents and in combination with the prior, centered */
.profile-theme ~ form table, #compilationsubmitform table, h2:first-child + form table, #newThread,
h2:first-child + p + br + form table /* I hope this only selects the new artist page tables */
{
  display: inline-table;
  /* The base stylesheet selects some of these with two IDs, we can't reaonably be more specific. */
  width: auto !important;
  text-align: left;
}

/* Make the "Receive updates via email" checkbox appear to the left of the previous text, instead of below it. */
#newThread tr:first-child + tr + tr .label {
    margin-left: 23px;
}

#newThread tr:first-child + tr + tr .label + td {
    margin-top: -1.65em;
}

/* Same fix as above, but for the in-thread pages instead of the forum and thread listing pages. */
p #id_subscribe {
    float: left;
}

p label[for="id_subscribe"] {
    margin-left: 3px;
    vertical-align: middle;
}

/* The help text on the new artist form is huge, so this doesn't center right otherwise. */
h2:first-child + p + br + form table:first-child {
  width: 50% !important;
}

h2:first-child + p + br + form {
  margin-bottom: -1em;
}

h2:first-child + p + br + form + br {
  display: none;
}

/* The submit button appears to be outside the table on the profile page and needs to appear underneath the
 * now-inline table, rather than after it.
 */
.profile-theme ~ form input[type="submit"], #compilationsubmitform input[type="submit"],
h2:first-child + form input[type="submit"], #newThread input[type="submit"],
h2:first-child + p + br + form table + input[type="submit"]
{
  display: block;
  margin: 1em auto;
}

/* Ideally this element would be aligned to the centered form above, but that isn't possible without script */
.profile-theme ~ form h2, #compilationsubmitform h2, h2:first-child + p + br + form h2 {
  text-align: left;
}

/* th and td default to a display value "table-cell" (after such a value was introduced in the spec) but
 * setting them to anything else destroys their participation in table magic and they stack as if this form
 * were done properly (sans tables). It is important to note that given this table is set up with a th
 * followed by a td for each row, if you only mark the th as a block, they don't stack and remain inline.
 */
#profileform th, #profileform td, #compilationsubmitform th, #compilationsubmitform td,
h2:first-child + form th, h2:first-child + form td, #newThread th, #newThread td,
h2:first-child + p + br + form table th, h2:first-child + p + br + form table:first-child td,
/* muteliner form */
h2:first-child + table + h2 + form th, h2:first-child + table + h2 + form td
{
  display: block;
}

h2:first-child + table + h2 + form th {
    text-align: left;
}

#profileform th, #compilationsubmitform th, h2:first-child + form th, #newThread .label,
h2:first-child + p + br + form table:first-child th, h2:first-child + table + h2 + form th
{
  margin-bottom: -3px;
}

#profileform td, #compilationsubmitform td, h2:first-child + form td, #newThread td,
h2:first-child + p + br + form table:first-child td
{
  margin-bottom: 3px;
}

h2:first-child + table + h2 + form tr:nth-last-child(2) {
  display: block;
  position: relative;
  padding: 6px 0;
}

h2:first-child + table + h2 + form tr:nth-last-child(2) th {
   margin-left: 22px;
}

h2:first-child + table + h2 + form tr:nth-last-child(2) td {
    position: absolute;
    left: 0;
    top: 4px;
}

/* The base CSS background color is yellow. Ugly. Besides, why do you even want any color on hover anyways? */
#linksform tr:hover {
  background: none;
}

#linksform img {
  vertical-align: top;
}

/* Aren't the items to the left of this obvious enough already? */
#linksform .linkdesc {
  display: none;
}

#linksform .linkdesc + td {
  padding-left: 1em;
}

form .helptext {
  font-size: .9em;
  color: #ddd;
}

/* People seem to forget about the notification settings dialog, so let's not.
 * The box is positioned relative to the viewport (fixed) and has a dynamic height, so we can't nicely
 * position it with just CSS. A theme can't have JS, however, so an approximation for top will have to do.
 */
.messagesettingsbox {
  top: 25%;
  z-index: 2;
  padding: 16px;
  text-align: right;
  background: #fafafa;
  border: 1px solid #333;
  border-radius: 2px;
  box-shadow: 0 0 3px #ccc;
}

.messagesettingsbox h2, .messagesettingsbox p, .messagesettingsbox div {
  text-align: left;
}

.messagesettingsbox h2 {
  margin: 0;
}

.messagesettingsbox p {
  padding: 0.5em;
  margin: 0 0 .5em;
}

.messagesettingholder {
  overflow: hidden;
}

.messagesettingholder label {
  display: block;
  font-weight: bold;
}

.messagesettingholder:first-child label, .messagesettingholder:last-child label {
  display: inline;
  font-weight: normal;
}

#setting-disabled, #setting-flashoff {
  float: left;
  margin-left: 0;
}

.message-categories {
  padding: .5em;
}

.message-categories input {
  margin-left: 0;
}

.messagesetting-save, .messagesetting-cancel {
  float: none;
  display: inline-block;
  padding: .25em .5em;
  margin-right: 0;
  margin-bottom: 0;
  border: 1px solid #999;
  border-radius: 2px;
}

/* Textarea for editing forum posts. Make it as wide as possible */
#id_body {
    width: 98%;
    margin-bottom: .5em;
}

/* Textarea for creating PMs. See previous. Now also textarea for muteliner details. */
#id_message, #id_details {
    width: 98%;
}

#djangoForumBreadcrumbs {
    margin-bottom: .5em;
}

/* Put down here because of relevance */
#maincontent {
    position: relative;
    padding: 0 5px;
    color: white;
}

#maincontent > h2 {
    margin: 0 -5px 5px;
    border-bottom: 1px solid #b3b3b1;
}

/*
 * hack that handles the case when we're not on the home/news page (adds the requisite
 * background and border). The second case handles the FAQ page which has a link first.
 */
#maincontent > h2:first-child:before, #maincontent > a:first-child + h2:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    z-index: -1;
}

ul.errorlist li {
    color: darkred;
}

/* Recent stuff */

.recentchanges {
    width: 100%;
    margin-bottom: 1em;
}

/* News styles (homepage) */

#maincontent > h1 + form, #maincontent > h2:first-child:before, #maincontent > a:first-child + h2:before, .recentchanges, .newsentry .newstext {
    padding: 3px 5px;
    border: 1px solid;
    border-color: #b3b3b1 #797874 #797874 #b3b3b1;
}

.theme {
    position: relative;
    width: 128px;
}

.activetheme {
    border-color: #ccc;
}

.themeby {
    white-space: nowrap;
}

.themeimage {
    max-height: 130px;
    overflow: hidden;
}

.theme .user_count, .theme .isdefault, .theme .islocal, .theme form {
    position: absolute;
    right: 0;
    bottom: 1em;
    left: 0;
}

.theme .user_count, .theme .isdefault, .theme .islocal {
    text-align: center;
}

.theme .isdefault {
    margin-bottom: 23px;
}

.theme .islocal {
    margin-bottom: 35px;
}

.theme .user_count {
    margin-bottom: 47px;
}

.theme form {
    right: 1em;
    left: 1em;
}

.theme form input {
    width: 100%;
}

.themedescription + a {
   display: inline-block;
   margin: 1em 0 .5em;
}

.newsentry {
    margin: 0 -5px 13px;
}

.newsentry:last-child {
    margin-bottom: 0;
}

.newsentry h2 {
    position: relative;
}

.freshnews h2:before {
    content: url("nectarine-static/new.png");
    position: absolute;
    left: 1px;
}

.freshnews h2 .headline {
    margin-left: 20px;
}

.newsentry a {
    border-bottom: none;
}

.newsentry .newstext {
    overflow: hidden;
}

.newsentry .newstext img {
    margin-right: 5px;
}

#maincontent h1, .newsentry h2 {
    margin: 0;
}

#maincontent > h1, #sidebar h3, #rightside h3, #maincontent > h2, .newsentry h2 {
    z-index: 0;
    font-weight: normal;
    text-align: left;
    color: black;
    background: url(nectarine-orange/stripes.png) repeat-x #fa980f;
}

.newsentryside .entrytext {
    padding: 3px 5px;
    border: 1px solid black;
}

.newsentryside:first-child input[type="image"] {
    max-width: 180px;
}

.newsentryside:last-child .entrytext div {
    margin-left: 10px !important;
}

/* Message-system styles */
.messagebox {
    z-index: 10000000;
    border-top: none;
}

.messagetitle {
    background: #fa980f;
    border-bottom-style: dashed;
}

.messagetitle, .messagelist {
    border: 1px solid black;
}

.messagetitle, .messagelist {
    border: 1px solid black;
}

.messagelist {
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.messagelist:empty {
    display: none;
}

.messageholder {
    font-size: 14px;
    line-height: 14.5px;
    padding: 3px;
    opacity: 1;
    background-color: #ffbd31;
    border-top: 1px dotted black;
}

.messageholder:hover {
    background-color: #ccc;
}

.messageholder:first-child {
    border-top: none;
}

.messagetime {
    font-size: 9.8px;
    vertical-align: top;
}

.messagetext {
    vertical-align: middle;
}

.messagefadeborder {
    margin-top: 4px;
    background-color: #ccc;
    border: 1px solid #888a85;
}

.messagefade {
    background-color: #ddd;
}

.onelinerpre > span:last-child {
    position: absolute;
    right: 0;
    visibility: hidden;
    color: #555 !important;
}

.onelinerpre > span:last-child span {
    visibility: visible;
    background: #ffbd31;
}

.onelinertext {
    display: block;
    overflow: auto;
}

.onelinertext a {
    word-break: break-all;
}

.countryflag, .artist, .label_icon, .platform_icon, .group_icon, .compilation_icon, .text-link, img[src*=platform] {
    margin-right: 5px;
}

.vote {
    margin: 0 auto;
}

.starbutton {
    padding: 0;
    font-size: 0;
}

/* Aligns the platform icon (ic chip image)  better with text on the same line */
.platform_icon {
    vertical-align: bottom;
}

.group_icon {
    margin-left: 5px;
}

/* Expands the (+) button link tag so we can center the inner image. See next CSS block */
.songlist span[name^=a_queue] a {
    display: block;
}

/* Horizontally centers the (+) button image in song lists */
.songlist span[name^=a_queue] img {
    display: block;
    margin: 0 auto;
}

.queuesongimage {
    vertical-align: text-bottom;
}

td > .song_tail {
    display: block;
    margin: 0 auto;
}

td.compilation_description > .song_tail {
    display: inline;
    margin: 0;
}

div > .song_tail {
    display: none;
}

.taglist + .songname ~ p:nth-of-type(4) + div > span:not([data-name]):first-child {
    display: inline-block !important;
    height: 16px;
    padding-left: 18px;
    font-size: 0;
    background: url("nectarine-static/lock.png") no-repeat;
}

.taglist + .songname ~ p:nth-of-type(4) + div > span:not([data-name]):first-child:after {
    content: "Song is currently locked for queuing.";
    font-size: 9pt;
    font-style: italic;
}

.songlist .artist {
    margin-right: 1ex;
}

.songlist .text-link {
    margin-left: 3px;
    margin-right: 0;
}

input.queuesongbutton {
    width: auto;
    padding-left: 16px;
    color: white;
    background: url("nectarine-static/add.png") no-repeat;
    border: none;
    cursor: pointer;
}

.compilation_summary form p {
    white-space: nowrap;
}

.compilation_summary form label {
    display: inline-block;
    width: 66px;
    padding-right: 2px;
    text-align: right;
}

.compilation_summary form .helptext {
    display: block;
    margin-top: .25em;
}

.compilation_summary form input[type="submit"] {
    display: block;
    margin: 0 auto;
}

/*
   Makes the screenshot line up with the start of the text in the right column.
   A side effect is that border becomes more of an outline, which is okay here.
 */
.compilation_summary .screenshot {
    margin-top: -3px;
}

/* Limits the size of cover images on summaries and ensures a minimum width. */
.compilation_summary, .group_summary, .artist_details, .label_summary {
    max-width: 250px;
    min-width: 100px;
    padding-right: 1em;
}

/*
   Ensures left and right columns on the information pages are aligned to the
   top regardless of which has more content.
*/
.compilation_summary, .group_summary, .artist_details, .label_summary,
.compilation_description, .group_description, .artist_information, .label_description
{
    vertical-align: top;
}

.compilation_screenshot, .group_logo, .artist_logo, .label_logo {
    width: 100%;
}

.compilation_description {
    counter-reset: songname;
}

.compilation_description > .songname:before {
    counter-increment: songname;
    content: counter(songname) ". ";
    clear: left;
    float: left;
    min-width: 2.5em; /* About 3 digits. */
    height: 1.4em; /* Quick bit to make a second wrapped line start after the number. */
    margin-right: .3em;
    text-align: right;
}

/* Should not be fixed size (from the base CSS) */
div.screenshot, .screenshot {
    height: auto;
}

div.screenshot:hover {
    padding: 3px;
    background: none;
    border: none;
}

/* Tag block shown on a song's info page */
div.taglist {
    overflow: auto;
    border: 1px solid #aaa;
    border-top: none;
    border-right: none;
    border-bottom-color: #797874;
    border-left-color: #b3b3b1;
    border-radius: 0;
    background: none;
}

.taglist p {
    font-weight: bold;
}

/*
 * Sometimes the tag list is longer than the information to the left of it and the title pseudo-elements that do the virtual boxes clip it.
 * This causes the float to be "contained" before the title psedo-element so it doesn't get covered up.
 */
div.taglist ~ div + p:after {
    content: "";
    clear: right;
    display: block;
}

.tagview_1, .tagview_2, .tagview_3, .tagview_4 {
    white-space: nowrap;
}

.tagview_1 a {
    font-size: x-small;
}

.tagview_2 a {
    font-size: medium;
}

.tagview_3 a {
    font-size: x-large;
}

.tagview_4 a {
    font-size: xx-large;
}

/* Stuff related to pagination displays */
.paging {
    padding-top: 5px;
}

.paging .active a {
    text-decoration: underline;
}

/* Forums pagesBottom. Only shows up on thread pages, and can be used to target
 * the next h2 which ordinarily would be styled to sit apart all on its own with
 * a tiny no-content area below it. It looks weird that way.
 */
#maincontent div.pagesBottom + h2 {
    margin-top: .5em;
    padding-bottom: .5em;
    background: none;
}

#maincontent div.pagesBottom + h2:before {
    content: none;
}

#maincontent div.pagesBottom + h2 + h2:before {
    height: 2em;
    margin-top: -11px;
}

/* Search related */
.searchpostpreview {
    margin-left: 2em;
    border: none;
    background-color: #575651;
}

.searchpostpreview p {
    padding-left: .25ex;
}

.searchpostpreview p:first-child {
    padding-left: 0;
}

.searchpostpreview p:last-child {
    margin-bottom: 0;
}

.searchinfo a {
    padding-right: .25ex;
}

/* Used on the streams page, .popup is the information shown when rolling over a .bubbleInfo */
.bubbleInfo .popup {
    display: none;
}

/* Make the labels for adding a new thread on the forums bold, to match other forms */
.label {
    vertical-align: top;
    padding-right: 3px;
    padding-top: 4px;
    font-weight: bold;
}

table.recentchanges td {
    vertical-align: top;
}

/*
   The following is all for the song list tables (queue, history, recent approvals, and the PM list)
   Why the PM list is classed as a songlist, I'll probably never know.
 */

table.songlist, table.recent-approvals {
    width: 100%;
    border-spacing: 0px;
}

table.songlist td, table.recent-approvals td {
    padding: 1px 5px 1px 5px;
}

/* Makes the span containing "add to queue" image as wide as the containing td, and centers the image */
table.songlist td span[data-name^="a_queue"], table.songlist td span.lastreqdate, table.recent-approvals td span.lastreqdate {
    display: block;
    text-align: center;
}

/* Puts the "add to queue" and "add to favorites" images side-by-side on the "new uploads" page */
table.recent-approvals td:last-child span, table.recent-approvals td:last-child a {
    float: left;
}

/*
   Fixes issue in WebKit and Opera browsers where the link clickable area is not in the same place as the image
   appears. This causes issues like unfaving the wrong song, or other things.
 */
table.songlist td a[href*="favorites/del"], table.recent-approvals td:last-child a {
    display: block;
}

table.recent-approvals td:nth-of-type(3), table.recent-approvals td:nth-of-type(5) span {
    white-space: nowrap;
}


table.recent-approvals td:nth-of-type(5) {
    text-align: left;
}

table.songlist th, table.recent-approvals th {
    padding: 3px;
}

/* Centers the text of the 3rd, 4th, and 5th columns of the table */
table.songlist td:nth-of-type(3), table.songlist td:nth-of-type(4), table.songlist td:nth-of-type(5),
table.recent-approvals td:nth-of-type(3), table.recent-approvals td:nth-of-type(4) {
    text-align: center;
}

table.songlist.statistics td:nth-of-type(3),
table.songlist.mailbox td:nth-of-type(3), table.mailbox td:nth-of-type(4) {
    text-align: left;
}

/* Style all even rows with a light color. */
table.songlist tr.row1 td, table.recent-approvals tr.row1 td {
    background-color: #575651;
}

#maincontent h2:not(:first-child) {
    position: relative;
    margin-top: 1.75em;
}

#maincontent a:first-child + h2 {
    position: static;
    margin-top: 0;
}

#maincontent > h2:not(:first-child):before {
    content: "";
    display: block;
    position: relative;
    left: -6px;
    height: 3px;
    margin: 2px -12px 4px 0;
    border-bottom: 1px solid black;
}

#maincontent > h2:not(:first-child):before {
    position: absolute;
    top: -13px;
    right: 0;
    height: 13px;
    margin: 0;
    border-top: 1px solid black;
    border-bottom: none;
}

#searchform:after {
    border-top: 1px solid black;
    border-bottom: none;
}

div[data-name=queue] + h2:before {
    content: "";
    display: block;
    position: relative;
    top: -.5em;
    left: -7px;
    margin-right: -8px;
    height: 1.25em;
}

/* This gives the history table's bottom right corner more curve, to match the outer edge of the #main box */
div[data-name=history] {
    margin-bottom: 1px;
}

/* FAQ entry titles */
a[name] + strong {
    font-size: 1.25em;
}

/* All bb-quotes could stand to stand out more. */
.bbquote {
    padding: .821em 1em;
    background: #333;
    border-left: 3px solid #ccc;
}

.bbquote > b:first-child {
    display: block;
    margin-bottom: .5em;
}

.bbquote > .bbquote {
    margin: 1em;
    background: #444;
}

/* This following is all stuff to style the various tables used in the forums and song comments */

table#djangoForumList, table#djangoForumThreadList, table#djangoForumThreadPosts {
    width: 100%;
    border-spacing: 0px;
}

table#djangoForumList th, table#djangoForumThreadList th, #djangoForumThreadPosts th {
    padding: 3px;
}

table#djangoForumList td, table#djangoForumThreadList td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

table#djangoForumList tr:last-child td, table#djangoForumThreadList tr:last-child td {
    border-bottom: none;
}

table#djangoForumList td.djangoForumListDetails .djangoForumStats {
    float: right;
}

table#djangoForumList td.djangoForumListDetails p {
    position: relative;
}

table#djangoForumList td.djangoForumListDetails p .djangoForumStats {
    position: absolute;
    right: 0;
    top: 0;
}

table#djangoForumList td.djangoForumListDetails p {
    margin-top: .25em;
    margin-bottom: .125em;
}

/* Bumps the thread name to the next line when there's text like "Sticky" in front of it */
table#djangoForumThreadList td.djangoForumThreadListName a {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
}

table#djangoForumThreadPosts {
    margin-top: .5em;
    margin-bottom: 1em;
    table-layout: fixed;
}

.djangoForumListLastPost {
    width: 45%;
}

/*
   I would love to make this scroll, but scroll: auto doesn't work with table cells, and
   all solutions involve a div that wraps the cell contents (the div can then be styled
   to get a scrollbar)
*/
table#djangoForumThreadPosts .djangoForumThreadPostDetail {
    width: 112px;
    max-width: 112px;
    vertical-align: top;
    overflow: hidden;
    padding: 1em 0 0 1em;
}

table#djangoForumThreadPosts .djangoForumThreadPostDetail span {
    padding-right: .5em;
}

/*
   Hides the table header row on post lists, because it didn't really provide any
   useful information like other table headers did
 */
table#djangoForumThreadPosts tr:first-child {
    display: none;
}

/* The following blocks style lists of posts (rounded corners, etc) */
table#djangoForumThreadPosts tr.postmain td:first-child {
    border-top: 1px solid #ccc;
}

table#djangoForumThreadPosts tr.postfooter td:first-child {
    padding-top: .25em;
    padding-left: .5em;
}

/* Right align text in the second post footer column ("Quote", "Edit Post" text) */
table#djangoForumThreadPosts tr.postfooter td:last-child {
    padding-right: .5em;
    text-align: right;
}

table#djangoForumThreadPosts tr.postfooter td:only-child {
    text-align: left;
}

/* Post content area padding, border, and alignment (to counter the table cell content centering) */
table#djangoForumThreadPosts .post {
    vertical-align: top;
    padding-left: .5em;
    padding-right: .75em;
    border-top: 1px solid #ccc;
}

#maincontent > .songname ~ #djangoForumThreadPosts tr:first-child + tr.postmain td:first-child,
#maincontent > .songname ~ #djangoForumThreadPosts tr:first-child + tr .post
{
    border-top: none;
}

table#djangoForumThreadPosts .post > div, .post > p {
    overflow: auto;
}

/*
   Make it stand out just a tad so it's more obvious where the drop area
   is and also keep it from hanging over the edge of the main content.
 */
#sortsonglist.ui-sortable {
    display: block;
    width: auto;
    border: 1px dashed lightgray;
}

#sortsonglist {
    background: none;
    background: rgba(0, 0, 0, .2);
}

#footer {
    overflow: hidden;
    margin-top: 7px;
    padding: 3px 0;
    color: white;
}

#footer, #footer a {
    font-weight: normal;
}

#footer br {
    display: none;
}

#copyleft {
    float: left;
    margin-left: 3px;
}

#copyright {
    float: right;
    margin-right: 3px;
}
