@import url(nectarine.css);

/**
 ** Author: Art McBain
 ** This stylesheet is PUBLIC DOMAIN.
 **
 ** All referenced images subject to the license of the demovibes project:
 ** https://github.com/arabek/demovibes
 **/

/* The images used in this theme are from http://p.yusukekamiyamane.com/ the Fugue set. Fugue has many,
 * many, icons. More than FamFamFam, even. If you buy a license, much recommended (I did), it is not very
 * restrictive and lets you update your copy of icons to the latest without needing to buy another license.
 */

/* Font is from http://mplus-fonts.sourceforge.jp/ but the font files used here are from
 * http://www.fontsquirrel.com/fonts/M-1c . The font is free to use and distribute.
 */
@font-face {
  font-family: 'M+';
  src: url('fonts/mplus-1c-regular-webfont.eot');
  src: url('fonts/mplus-1c-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/mplus-1c-regular-webfont.woff') format('woff'),
       url('fonts/mplus-1c-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'M+';
  src: url('fonts/mplus-1c-bold-webfont.eot');
  src: url('fonts/mplus-1c-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/mplus-1c-bold-webfont.woff') format('woff'),
       url('fonts/mplus-1c-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: 'M+', sans-serif;
  font-size: small;
}

body {
  position: relative;
  margin: 0;
  background: #f0f0f0;
}

/* The trick here is to contain any floats within, but without setting an overflow value. Changing the
 * value of overflow is undesireable in our case, so this handles it nicely. The sidebar trick this helps
 * doesn't work in IE7, so no sense doing a fallback for it (as the 'table' display value isn't recognized)
 */
body:before, body:after {
  content: "";
  display: table;
}

body:after {
  clear: both;
}

hr {
  height: 1px;
  background: #ccc !important;
  border: 0;
}

/* The trick here is that with the body being relatively positioned and containing floats (the sidebars),
 * it'll be as tall as the largest sidebar or the content area if it is larger than the sidebars. So on the
 * homepage, for example, the content is huge but these will extend all the way down to the end of it.
 */
#sidebar:before, #rightside:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #fafafa;
  background: -webkit-linear-gradient(top, rgba(250, 250, 250, .75), rgba(250, 250, 250, .75)),
              -webkit-repeating-linear-gradient(-45deg, #fafafa, #fafafa 100px, #f0f0f0 100px, #f0f0f0 200px);
  background: -moz-linear-gradient(top, rgba(250, 250, 250, .75), rgba(250, 250, 250, .75)),
              -moz-repeating-linear-gradient(-45deg, #fafafa, #fafafa 100px, #f0f0f0 100px, #f0f0f0 200px);
  background: -ms-linear-gradient(top, rgba(250, 250, 250, .75), rgba(250, 250, 250, .75)),
              -ms-repeating-linear-gradient(-45deg, #fafafa, #fafafa 100px, #f0f0f0 100px, #f0f0f0 200px);
  background: -o-linear-gradient(top, rgba(250, 250, 250, .75), rgba(250, 250, 250, .75)),
              -o-repeating-linear-gradient(-45deg, #fafafa, #fafafa 100px, #f0f0f0 100px, #f0f0f0 200px);
  background: linear-gradient(top, rgba(250, 250, 250, .75), rgba(250, 250, 250, .75)),
              repeating-linear-gradient(-45deg, #fafafa, #fafafa 100px, #f0f0f0 100px, #f0f0f0 200px);
  box-shadow: 0 0 3px #888;
}

#sidebar:before {
  left: 0;
}

#rightside:before {
  right: 0;
}

#sidebar:before, #rightside:before, #sidebar, #rightside {
  width: 230px;
}

/* margin is the sidebar width + sidebar padding x 2 */
#footer {
  margin: 0 262px;
}

#sidebar:before, #rightside:before, #sidebar, #rightside, #main {
  padding: 0 16px 16px;
}

/* This is to hide the box-shadow on h1, h2, etc. children that would leak out the sides */
#sidebar, #rightside {
  overflow: hidden;
}

#sidebar {
  float: left;
}

/* Based on the width of the sidebars + 3x their padding. */
.messagebox {
  right: 274px;
  left: 274px;
  width: auto;
}

div.messagebox:before {
  box-shadow: 0 0 3px #888;
}

/* More or less borrowed from "nectarine-preview" theme stylesheet */

.messagetitle {
    background: #fafafa;
    border-top: none;
    border-bottom-style: dashed;
}

.messagetitle, .messagelist {
    border: 1px solid #888a85;
}

.messagelist {
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.messagelist:empty {
    display: none;
}

/* I know this color ends up looking the slightest bit yellow, but I'm not inclined to waste a ton of time
 * finding the right color that won't blend in with the background below it.
 */
.messageholder, .messageholder:hover {
    font-size: 14px;
    line-height: 14.5px;
    padding: 3px;
    opacity: 1;
    background-color: #fefef2;
    border-top: 1px dotted #e6e6db;
}

.messageholder:first-child {
    border-top: none;
}

.messagetime {
    font-size: 9.8px;
    vertical-align: top;
}

.messagetext {
    vertical-align: middle;
}

.messagefadeborder {
    margin-top: 4px;
    background-color: #ccc;
    border: 1px solid #888a85;
}

.messagefade {
    background-color: #fefef2;
}

/* End borrow */

/* The first three items are in the left sidebar and are <li>&nbsp;</li> which means I cannot select them
 * with li:empty. Quite a shame, since the remaining one (in #rightsidebar) *is* <li></li> and can be.
 */
#statistics + li, #sitemenu #menuqueue + li, #recentchanges + li, #menumute + li {
  list-style: none;
}

#blah {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#makeitso {
  display: none;
}

#menuoneliner {
  position: relative;
  text-align: center;
}

#menuoneliner:before {
  content: url('fugue/status-busy.png');
  position: absolute;
  top: 7px;
  right: -10px;
  z-index: 1;
}

#menuoneliner.updatesActive:before {
  content: url('fugue/status.png');
}

#menuoneliner.updatesIdle:before {
  content: url('fugue/status-away.png');
}

#oneliner {
  text-align: left;
}

.smileys-clicker {
  display: inline;
  position: relative;
  top: 1px;
  text-decoration: underline;
}

.onelinertime {
  font-size: smaller;
}

.onelinermsg, .olh_item {
  border-bottom: 1px solid #eee;
  background: rgba(240, 240, 240, .25);
  padding: 2px;
}

.onelinertext a {
  word-break: break-all;
}

.olh_item {
  margin-bottom: 1em;
  border-bottom: 1px solid #e5e5e5;
}

.olh_user p {
  margin-top: 0;
}

#rightside {
  float: right;
}

.message-display-settings {
  display: inline;
  text-decoration: underline;
}

#sidebar h3, #rightside h3 {
  position: relative;
  margin: 16px -16px;
  padding: 4px 0;
  font-size: medium;
  text-align: center;
  background: #f0f0f0;
}

/* A nice small shadow below headers in the sidebars. If to the side, sucking it up by -1px would make it
 * appear curved, but here it just makes it nicely softer.
 */
#sidebar h3:after, #rightside h3:after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 -1px 3px #888;
}

#sidebar > div:first-child h3, #rightside > div:first-child  h3:first-child {
  margin-top: 0;
}

#sidebarnews .newsentryside:first-child {
  text-align: justify;
}

#sidebarnews .newsentryside:first-child p:last-child {
  font-size: smaller;
}

#nowplaying {
  text-align: center;
}

.artistname, .username {
  white-space: nowrap;
}

/* Nepal's flag is short, and there's one user not from Nepal who uses it anyway because he likes it. This
 * will make his username line up with the rest horizontally by moving the flag to the right.
 */
img[src="/static/flags/np.png"] {
  margin-left: 7px;
}
img[src="/static/flags/ch.png"] {
  margin-left: 5px;
}

#whosonline {
  text-align: center;
}

/* Replaces the input's image source with one from the theme-matching icon set. You "can't" do this from
 * CSS, at least not directly. This just pushes the existing image out of view and lets the background
 * image shine through. Clicking still works, amazingly enough. Got the basis for this solution from:
 * http://stackoverflow.com/questions/694486/replace-image-through-css
 */
#formvote input[type="image"], .vote td:last-child img, .starbutton, #maincontent h2 .icon_header,
div[data-name="queue"] + h2 img, .song_tail, .queuesongimage, img[alt="User"],
.group_icon[src="/static/group.png"], .label_icon[src="/static/transmit_blue.png"],
.compilation_icon[src="/static/recplay_ico.png"], .recent_icon_header, img[src="/static/link_edit.png"],
img[title="FAQ"], .text-link[src="/static/link_go.png"], img[src="/static/newspaper.png"], 
img[src="http://www.scenemusic.net/static/music.png"], .editButton, .formq img,
.text-link[src="/static/explicit.gif"], img[alt="mail"], img[src="/static/deceased.png"],
img[src="/static/flags/nectaflag.png"], img[alt="[New Message]"]
{
  width: 0;
  height: 16px;
  padding-right: 16px;
  background-repeat: no-repeat;
}

#maincontent .icon_header[src^="/static/media/platform/symbol/koek"] {
  width: auto;
  height: auto;
  padding-right: 0;
}

#formvote input[type="image"] {
  background-image: url(fugue/heart--plus.png);
}

#formvote input[type="image"][src="/static/heart_delete.png"] {
  background-image: url(fugue/heart-break.png);
}

/* Even though the other items to the left of it are aligned, this one isn't and must be forced. */
.vote td:last-child img {
  vertical-align: bottom;
  background-image: url(fugue/chart.png);
}

.vote {
  margin: 0 auto 5px;
}

#formvote, .starview {
  height: 16px;
}

.starview {
  margin: 1em 0;
}

#nowplaying .starview {
  margin: 0;
}

.starbutton {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  font-size: 0;
  background-image: url(fugue/star-empty.png);
}

.starbutton.star-selected {
  background-image: url(fugue/star.png);
}

/* Has inline styles so thus the !important; Every time you use an inline style I lose a brain cell. */
hr + input[type="button"] {
  cursor: pointer;
  border: 1px solid #999 !important;
  border-radius: 2px;
}

/* People seem to forget about the notification settings dialog, so let's not.
 * The box is positioned relative to the viewport (fixed) and has a dynamic height, so we can't nicely
 * position it with just CSS. A theme can't have JS, however, so an approximation for top will have to do.
 */
.messagesettingsbox {
  top: 25%;
  z-index: 2;
  padding: 16px;
  text-align: right;
  background: #fafafa;
  border: 1px solid #333;
  border-radius: 2px;
  box-shadow: 0 0 3px #ccc;
}

/* I want to do something like this, but I can't position it (z ordering) behind only the
 * .messagesettingsbox element as a :before or :after and since this is the last element in the body I
 * can't borrow another element after (to which to add the pseudo-element). I can't borrow an element
 * before because there's no way to select their pseudo-element on or off based on the presence of the
 * .messagesettingsbox element. Oh well :(
 */
/*.messagesettingsbox:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .3);
}*/

.messagesettingsbox h2, .messagesettingsbox p, .messagesettingsbox div {
  text-align: left;
}

.messagesettingsbox h2 {
  margin: 0;
}

.messagesettingsbox p {
  padding: 0.5em;
  margin: 0 0 .5em;
}

.messagesettingholder {
  overflow: hidden;
}

.messagesettingholder label {
  display: block;
  font-weight: bold;
}

.messagesettingholder:first-child label, .messagesettingholder:last-child label {
  display: inline;
  font-weight: normal;
}

#setting-disabled, #setting-flashoff {
  float: left;
  margin-left: 0;
}

.message-categories {
  padding: .5em;
}

.message-categories input {
  margin-left: 0;
}

.messagesetting-save, .messagesetting-cancel {
  float: none;
  display: inline-block;
  padding: .25em .5em;
  margin-right: 0;
  margin-bottom: 0;
  border: 1px solid #999;
  border-radius: 2px;
}

/* Make the smiley picker popup look more like the notification settings popup. */
.smileybox {
  top: 20%;
  background-color: #fafafa;
  border-color: #333;
  border-radius: 2px;
  box-shadow: 0 0 3px #ccc;
}

/* Remove if a way to give the same background behind the nofication settings is found. */
.smileybox-holder {
  background: none;
}

/* This overflow is magic. It causes the element to start and end where it touches floated items at the
 * the same level. This is as opposed to the default behavior of the contend being pushed inwards by the
 * floats. This means that padding can push in the content as expected, rather than from the edges of the
 * parent. This effect is basically the same as if this element had left and right margins set on it equal
 * to the size of the items floated left or right of it. It just saves us from having to write those values
 */
#main {
  overflow: hidden;
  padding-top: 16px;
  padding-bottom: 2em;
}

#mainheader {
  display: none;
}

#mainlogo {
  text-align: center;
}

#logo {
    max-width: 100%;
}

/* The h1 is seen on the log out page. */
#main h2, #main h1:first-child, div.taglist, .searchpostpreview, #sortsonglist {
  padding-left: 4px;
  background: #eee;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

#sortsonglist {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: dotted;
}

#help {
  font-size: small;
}

#help:before {
  content: url(fugue/information-balloon.png);
  vertical-align: top;
}

#main h2, #main h1:first-child {
  position: relative;
  font-size: medium;
}

/* If done just right, this sort of thing looks great. It uses the pseudo-element to add a shadow below the
 * element that is pulled in from the top and edges. This makes it appear like the element is slightly
 * curved downward at the top and ends.
 */
#main h2:before, .messagebox:before {
  content: "";
  position: absolute;
  top: 3px;
  right: 7px;
  bottom: 1px;
  left: 7px;
  z-index: -1;
  box-shadow: 0 0 3px #aaa;
}


/* Not all h2's have images but since they're left aligned, I'm not inclined to waste time trying to make
 * the h2s reserve space for icons they don't have. Also, vertically centering these looks nice but
 * unfortunately h2s must reserve space for decenders and so the text looks too high relative to this image.
 */
#main h2 img {
  vertical-align: middle;
  margin-right: .25em;
}

/* Are you kidding? h2's already have a large margin on them, why do you need a br? */
h2 + br {
  display: none;
}

/* Move "did you mean" further away from the form. */
#searchform {
  margin-bottom: .5em
}

/* These are centered by default, but they look better to the right for the search form. */
#searchform th {
  text-align: right;
}

.songlist, .recent-approvals {
  width: 100%;
  border-spacing: 0 2px;
}

table.songlist tr:hover, table.recent-approvals tr:hover {
  background-color: #f9f9f9;
}

table.songlist tr:first-child, table.recent-approvals tr:first-child {
  background: none;
}

/* The table rows are marked .row1 and .row2, but if the table is sortable, a .row1 could end up next to
 * another .row1 ... so the striping effect is ruined. nth-child is correct all the time because the way it
 * is used here, it is only based on elements not class names.
 */
.songlist tr:nth-child(even), .recent-approvals tr:nth-child(even) {
  background-color: #f6f6f6;
}

.songlist tr:nth-child(odd), .recent-approvals tr:nth-child(odd) {
  background-color: #f3f3f3;
}

/* Song titles without a platform should be as indented as those with. Can't use last-child, as some songs
 * have a video icon after them. Thus last-of-type has the same wanted effect (last link). */
.songlist .songname a:last-of-type, .recent-approvals .songname a:last-of-type,
.taglist .songname a:last-of-type
{
  margin-left: 37px;
}

/* Those with a song platform don't need the previous indentation. */
.songlist .songname a + a:last-of-type, .recent-approvals .songname a + a:last-of-type,
.taglist .songname a + a:last-of-type
{
  margin-left: 0;
}

/* As much as I like how it looks so close to the footer, I think it should probably be further away to
 * make it more obvious they're not related.
 */
.recent-approvals {
  margin-bottom: 1.5em;
}

/* Every row has one of these elements and they're all tagged with the ID formvote. That is just wrong! */
.recent-approvals #formvote {
  display: inline;
}

img[src="/static/lock.png"] {
  background-image: url(fugue/lock.png);
}

.queuesongimage, .queuesongbutton {
  background-image: url(fugue/plus-circle.png);
}

.queuesongbutton {
  padding-left: 18px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.songlist .queuesongimage, .recent-approvals .queuesongimage,
.songlist .song_tail, .recent-approvals .song_tail, .recent-approvals td:last-child input {
  vertical-align: middle;
}

/* Center the + and lock icons in songlist tables (the recent-approvals table puts the + icon next to the
 * favorite icon, so nothing really to be done there).
 */
.songlist .queuesongimage, .songlist .song_tail {
  display: block;
  margin: 0 auto;
}

/* Arbitrary centering for good looks, affects the song length, song status, and vote columns. */
.songlist td:nth-child(3), .songlist td:nth-child(4), .songlist td:nth-child(5) {
  text-align: center;
}

/* The sort arrow being on the next line for the vote and queue columns in the favorites just bug me. */
.songlist th:nth-child(5), .songlist th:nth-child(6) {
  white-space: nowrap;
}

/* Uncenter "To" and "Sent Date" for personal message tables. */
.mailbox td:nth-of-type(3), .mailbox td:nth-of-type(4) {
    text-align: left;
}

/* 3rd column in the statistics tables is artist names. */
.statistics td:nth-child(3) {
  text-align: left;
}

.statistics {
  margin-bottom: 2em;
}

.recentchanges {
  width: 100%;
}

.recentchanges td {
  vertical-align: top;
}

.recentchanges span, .recentchanges .group_icon, .recentchanges .label_icon,
.recentchanges .compilation_icon
{
  margin-left: 5px;
}

.recentchanges .countryflag {
  margin-right: 0;
}

a + .paging {
  margin-top: 1em;
}

.paging .active a {
  text-decoration: none;
  color: black;
}

/* Ideally ones with .icon_header instead of img are ones I want to target only header images (instead of
 * all images with that source. Unfortunately some headers reuse images so I can't really win.
 */

.icon_header[src="/static/script.png"] {
  background-image: url(fugue/document-text.png);
}

h2:first-child .icon_header[src="/static/script.png"] {
  background-image: url(fugue/radio-old.png);
}

div[data-name="queue"] + h2 img {
  background-image: url(fugue/clock-history.png);
}

img[src="/static/music.png"] {
  background-image: url(fugue/music-beam.png);
}

img[src="/static/user_comment.png"] {
  background-image: url(fugue/balloons-white.png);
}

.icon_header[src="/static/sound.png"] {
  background-image: url(fugue/block.png);
}

img[src="/static/user_green.png"] {
  background-image: url(fugue/user-green.png);
}

img[src="/static/group.png"] {
  background-image: url(fugue/users.png);
}

.icon_header[src="/static/comment.png"] {
  background-image: url(fugue/question-balloon.png);
}

img[src="/static/newspaper.png"] {
  background-image: url(fugue/newspaper.png);
}

.icon_header[src="/static/heart.png"] {
  background-image: url(fugue/heart.png);
}

.icon_header[src="/static/song.png"] {
  background-image: url(fugue/music-beam.png);
}

img[alt="[New Message]"] {
  background: url(fugue/new.png) -4px top;
}

.freshnews h2 {
  position: relative;
}

.freshnews h2:before {
  content: url(fugue/new.png);
  position: absolute;
  top: -3px;
  left: 12px;
}

/* Couldn't really find a decent icon to represent this. A "label" or "producer" is more an abstract
 * concept than the icon (pictograms) can reasonably represent.
 */
.icon_header[src="/static/transmit_blue.png"], .label_icon[src="/static/transmit_blue.png"],
.recent_icon_header[src="/static/transmit_blue.png"]
{
  background-image: url(fugue/equalizer.png);
}

.icon_header[src="/static/recplay_ico.png"], .compilation_icon[src="/static/recplay_ico.png"],
.recent_icon_header[src="/static/recplay_ico.png"]
{
  background-image: url(fugue/disc-case.png);
}

.icon_header[src="/static/icon_screenshot.png"] {
  background-image: url(fugue/images.png);
}

img[src="/static/link_edit.png"] {
  background-image: url(fugue/edit-signiture.png);
}

img[title="FAQ"] {
  margin-right: 2px;
  background-image: url(fugue/information-balloon.png);
}

img[src="/static/link.png"] {
  background-image: url(fugue/chain.png);
}

img[src="/static/link_go.png"] {
  background-image: url(fugue/chain--arrow.png);
}

.text-link[src="/static/link_go.png"] {
  vertical-align: top;
}

#main h2 img[src="/static/media/links/slug_icon/application_osx_terminal.png"] {
  background-image: url(fugue/toolbox.png);
  margin-right: 0;
}

img[src="/static/media/links/slug_icon/music.png"] {
  background-image: url(fugue/radio.png);
}

img[src="http://www.scenemusic.net/static/music.png"] {
  background-image: url(fugue/music-beam-16.png);
}

.icon_header[src="/static/star.png"] {
  background-image: url(fugue/star-half.png);
}

.icon_header[src="/static/user.png"] {
  background-image: url(fugue/user.png);
}

/* Used in two places: the profile page and the "create new forum thread" header. */
.icon_header[src="/static/page_white_edit.png"] {
  background-image: url(fugue/card-address.png);
  background: url(fugue/pencil-small.png) no-repeat 3px 3px, url(fugue/card-address.png);
}

#djangoForumThreadList ~ h2 .icon_header[src="/static/page_white_edit.png"] {
  background-image: url(fugue/balloon-white.png);
  background: url(fugue/new.png) no-repeat 5px -4px, url(fugue/balloon-white.png);
}

.icon_header[src="/static/world_link.png"] {
  background-image: url(fugue/chain.png);
  background: url(fugue/chain.png) no-repeat 0 3px, url(fugue/globe-green.png);
}

img[src="/static/question.png"] {
  background-image: url(fugue/question.png);
}

img[src="/static/email.png"] {
  background-image: url(fugue/mail.png);
}

/* On song pages. Fixes the wrong header image for the comment area. */
.taglist ~ h2 .icon_header[src="/static/comment.png"] {
  background-image: url(fugue/balloon-white.png);
}

/* I wanted to use the exclamation-diamond, but it feels much larger than the original and there's just
 * something about the icon being red that I think is nice ...
 */
.text-link[src="/static/explicit.gif"] {
  background: url(fugue/exclamation-small-red.png) no-repeat -4px 0;
}

img[src="/static/deceased.png"] {
  margin-left: 1px;
  background-image: url(fugue/headstone-rip.png);
}

img[src="/static/flags/nectaflag.png"] {
  height: 11px;
  background-image: url(fugue/cheese-hole.png);
  background-position: right top;
  background-size: auto 11px;
  background-repeat: no-repeat;
}

.icon_header[src="/static/user_gray.png"] {
  background-image: url(fugue/user.png);
}

.icon_header[src="/static/statistics.png"] {
  background-image: url(fugue/chart.png);
}

/* Apparently some aren't! */
.compilation_icon {
  width: 16px;
}

/* The replaced images tend to look better when this is done. */
.label_icon[src="/static/transmit_blue.png"], .compilation_icon , .group_icon[src="/static/group.png"],
img[title="FAQ"], a[href*="faq"] img[src="/static/link_edit.png"], img[src="/static/user_green.png"],
img[src="/static/newspaper.png"], img[alt="mail"], img[src="/static/deceased.png"],
.artistname + .song_tail, .artistname + span + .song_tail /* I think either variant is possible */
{
  vertical-align: text-bottom;
}

.platform_icon, img[alt="Platform"] {
  vertical-align: middle;
}

.artistname + span[data-name^="a_queue_"] {
  vertical-align: top;
}

.countryflag, .platform_icon, .group_icon, .label_icon, .recentchanges .compilation_icon, .text-link,
.profile-theme a:before, img[alt="Platform"]
{
  margin-right: 5px;
}

.artistname .countryflag {
  margin-right: 0;
}

/* Don't like the hover effect given by the base stylesheet much, so this removes it */
div.screenshot:hover {
  padding: 3px;
  background: none;
  border: none;
}

.compilation_summary, .group_summary, .artist_details, .label_summary,
.compilation_description, .group_description, .artist_information, .label_description
{
  vertical-align: top;
}

.compilation_summary, .group_summary, .artist_details, .label_summary {
  padding-right: 16px;
}

.compilation_summary .screenshot, .compilation_summary .screenshot:hover {
  margin-top: 0;
  padding-top: 0;
}

.compilation_screenshot, .group_logo, .artist_logo {
  max-width: 250px;
}

/* The title before the session form. This shouldn't be an h1, but yet it is ... */
.compilation_details_s ~ h1 {
  font-size: medium;
}

/* Tidy up the display of the "Session making maker!" (I didn't name it that; ask one of the site devs)
 * form on the compilation pages.
 */
.compilation_summary form label {
    display: block;
    font-weight: bold;
}

.compilation_summary form .helptext {
    display: block;
    margin-top: .25em;
}

textarea[name="Comment"] {
    width: 97%;
}

/* Bottom of the FAQ page. Make it further away from the footer for readability. */
a[href="#top"] + br:last-child {
  margin-bottom: 2em;
}

/* Borrowed from the nectarine-preview theme stylesheet */
.theme {
    position: relative;
}

.themeimage {
    max-height: 108px;
    overflow: hidden;
}

.theme .user_count, .theme .isdefault, .theme .islocal, .theme form {
    position: absolute;
    bottom: 1em;
    left: 0;
}

.theme .user_count, .theme .isdefault, .theme .islocal {
    right: 0;
    text-align: center;
}

.theme .isdefault {
    margin-bottom: 25px;
}

.theme .islocal {
    margin-bottom: 41px;
}

.theme .user_count {
    margin-bottom: 55px;
}

.theme form {
    margin-left: -32.5px;
    padding-left: 50%;
}
/* End borrow */

.activetheme {
  border-radius: 2px;
}

/* Move "back to theme selection list" link away from the theme info text below it. */
.themedetail .themeby {
  margin-top: 1.5em;
}

.themedetail .isdefault {
  margin-bottom: .5em;
}

/* The description text for a theme (on the theme's page) is too close to the link that asks to edit it.
 * Plus it edits more than just the description, so it's actually in the relatively wrong area. So moving
 * it away should make it appear less related. */
.themedescription {
  margin-bottom: 3em;
}

/* Base theme sets this to some value, overrides the default. No idea why. Rather arbitrary. Want it
 * noticed? Use an icon, don't change the font-size.
 */
.profile-theme {
  font-size: small;
}

.profile-theme a:before {
  content: url(fugue/bauble.png);
  vertical-align: top;
}

/* Table? They used a TABLE?? ARGH!!! Also, I'm hoping on all the following that the only page with a form
 * immediately following an h2 at the start of the page is the PM-sending page, which I can't target any
 * other way unfortunately.
 */
.profile-theme ~ form, #compilationsubmitform, h2:first-child + form, #djangoForumThreadList ~ form,
h2:first-child + p + br + form
{
  overflow: hidden;
  text-align: center;
}

/* Cause all profile tables to only be as wide as their contents and in combination with the prior, centered */
.profile-theme ~ form table, #compilationsubmitform table, h2:first-child + form table, #newThread,
h2:first-child + p + br + form table /* I hope this only selects the new artist page tables */
{
  display: inline-table;
  /* The base stylesheet selects some of these with two IDs, we can't reaonably be more specific. */
  width: auto !important;
  text-align: left;
}

/* The help text on the new artist form is huge, so this doesn't center right otherwise. */
h2:first-child + p + br + form table:first-child {
  width: 50% !important;
}

h2:first-child + p + br + form {
  margin-bottom: -1em;
}

h2:first-child + p + br + form + br {
  display: none;
}

/* The submit button appears to be outside the table on the profile page and needs to appear underneath the
 * now-inline table, rather than after it.
 */
.profile-theme ~ form input[type="submit"], #compilationsubmitform input[type="submit"],
h2:first-child + form input[type="submit"], #newThread input[type="submit"],
h2:first-child + p + br + form table + input[type="submit"]
{
  display: block;
  margin: 1em auto;
}

/* Ideally this element would be aligned to the centered form above, but that isn't possible without script */
.profile-theme ~ form h2, #compilationsubmitform h2, h2:first-child + p + br + form h2 {
  text-align: left;
}

/* th and td default to a display value "table-cell" (after such a value was introduced in the spec) but
 * setting them to anything else destroys their participation in table magic and they stack as if this form
 * were done properly (sans tables). It is important to note that given this table is set up with a th
 * followed by a td for each row, if you only mark the th as a block, they don't stack and remain inline.
 */
#profileform th, #profileform td, #compilationsubmitform th, #compilationsubmitform td,
h2:first-child + form th, h2:first-child + form td, #newThread th, #newThread td,
h2:first-child + p + br + form table th, h2:first-child + p + br + form table:first-child td
{
  display: block;
}

#profileform th, #compilationsubmitform th, h2:first-child + form th, #newThread .label,
h2:first-child + p + br + form table:first-child th
{
  margin-bottom: -5px;
}

#profileform td, #compilationsubmitform td, h2:first-child + form td, #newThread td,
h2:first-child + p + br + form table:first-child td
{
  margin-bottom: 3px;
}

/* The base CSS background color is yellow. Ugly. Besides, why do you even want any color on hover anyways? */
#linksform tr:hover {
  background: none;
}

#linksform img {
  vertical-align: top;
}

/* Aren't the items to the left of this obvious enough already? */
#linksform .linkdesc {
  display: none;
}

#linksform .linkdesc + td {
  padding-left: 1em;
}

form .helptext {
  font-size: .9em;
  color: #333;
}

/* Forums stylings. */
#djangoForumBreadcrumbs {
  margin-bottom: 1em;
}

#djangoForumList, #djangoForumThreadList {
  width: 100%;
  border-collapse: collapse;
}

#djangoForumList tr:first-child {
  display: none;
}

#djangoForumThreadList tr:hover {
  background-color: #f6f6f6;
}

#djangoForumList + p {
  margin-top: 2.5em;
}

#djangoForumList + p:before {
  content: url(fugue/document-bookmark.png);
  vertical-align: top;
  margin-right: 5px;
}

#djangoForumList td {
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.djangoForumListDetails, .djangoForumListLastPost {
  padding-top: .5em;
}

.djangoForumListDetails p {
  margin-bottom: .5em;
}

.djangoForumListDetails p:first-child {
  margin: 0;
}

.djangoForumListDetails strong + br {
  display: none;
}

.djangoForumListDetails br + .djangoForumStats {
  margin-left: .5em;
}

.djangoForumStats {
  font-size: smaller;
}

.djangoForumStats:before {
  content: "(";
}

.djangoForumStats:after {
  content: ")";
}

.djangoForumListLastPost {
  text-align: right;
}

#djangoForumThreadList {
  margin-bottom: 1em;
}

#djangoForumThreadList th {
  text-align: left;
}

#id_body {
  width: 98%;
}

label[for="id_title"], label[for="id_body"] {
  font-weight: bold;
}

#newThread tr:nth-child(3) td.label {
  margin-left: 22px;
}

#newThread tr:nth-child(3) td:last-child {
  overflow: hidden;
  margin-top: -1.6em;
}

#djangoForumThreadPosts {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
  table-layout: fixed;
}

/* This is the most useless table header ever. It's fairly obvious that the left column is the user info
 * and the right is whatever they wrote. Let's hide this crap.
 */
#djangoForumThreadPosts tr:first-child {
  display: none;
}

/* The one that isn't causing the height of the table row will get vertically centered by default, this
 * fixes that behavior.
 */
.postmain td {
  vertical-align: top;
  padding-top: .5em;
}

.post > div, .post > p {
  overflow: auto;
}

.post p:first-child {
  margin-top: 0;
}

.bbquote, .bbcode {
  display: block;
  padding: .25em .5em;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.bbcode {
  border-style: dashed;
}

/* It sorta picks its own wider width if you don't. */
.djangoForumThreadPostDetail {
  width: 137px;
  padding-right: .5em;
}

.postfooter {
  height: .5em;
}

.postfooter td {
  border-bottom: 1px solid #ccc;
}

.postfooter td:only-child {
  padding-bottom: .5em;
}

.postfooter span {
  display: none;
}

/* I think this might be slightly easier to find / nicer if it was all the way to the left, but I don't
 * to mess with it too much and <tr>s won't enclose an absolutely positioned td in Firefox (at least) when
 * they're set to position relative. CSS up to CSS3 (if the selector target modifier stays in CSS4) works
 * downwards, so by the time I find out about whether there's an <a> inside .postfooter I can't target the
 * td that wraps it either (make it a block or other stuff).
 */
.postfooter a {
  display: inline-block;
  float: right;
  margin: .5em 0;
  padding: .25em .5em 0;
  text-decoration: none;
  color: black;
  background-color: #f6f6f6;
  border: 1px solid #333;
  border-radius: 2px;
}

.postfooter i {
  font-style: normal;
}

.starview ~ .paging + p {
  margin-top: 2em;
  margin-bottom: 0;
  font-weight: bold;
}

.starview ~ form input[type="submit"] {
  margin-bottom: 2em;
}

/* Forum sh-- er, nice forum stuff. */
#djangoForumBreadcrumbs ~ form:last-child {
  margin-bottom: 1.5em;
}

#djangoForumBreadcrumbs a:only-child {
  display: none;
}

#id_subscribe {
  float: left;
}

.editdiv + br {
  display: none;
}

.editButton {
  cursor: pointer;
}

.editButton[src="/static/explicit.gif"] {
  background-image: url(fugue/edit-bold.png);
}
.editButton[src="/static/page_white_edit.png"] {
  background-image: url(fugue/edit-italic.png);
}
.editButton[src="/static/add.png"] {
  background-image: url(fugue/edit-size-up.png);
}
.editButton[src="/static/find.png"] {
  background-image: url(fugue/edit-size-down.png);
}
.editButton[src="/static/comment.png"] {
  background-image: url(fugue/edit-code.png);
}
.editButton[src="/static/script.png"] {
  background-image: url(fugue/edit-quotation.png);
}
.editButton[src="/static/youtube_icon.png"] {
  background-image: url(fugue/film-youtube.png);
}
/* This is the nice thing about having a background image, being able to make compound icons easily without
 * needing a new image comprised of all the parts.
 */
.editButton[src="/static/world_link.png"] {
  background-image: url(fugue/chain.png);
  background: url(fugue/chain.png) no-repeat right bottom, url(fugue/globe-green.png) no-repeat;
}
.editButton[src="/static/icon_screenshot.png"] {
  background-image: url(fugue/image-import.png);
}
.editButton[src="/static/music.png"] {
  background-image: url(fugue/music.png);
}
.editButton[src="/static/control_play.png"] {
  background-image: url(fugue/radio.png);
  background: url(fugue/music.png) no-repeat right bottom, url(fugue/radio-old.png) no-repeat;
}
.editButton[src="/static/user.png"] {
  background-image: url(fugue/user-green.png);
}
.editButton[src="/static/user_green.png"] {
  vertical-align: top;
  background-image: url(fugue/user-blue.png);
  background: url(fugue/user-small.png) no-repeat right bottom, url(fugue/equalizer.png) no-repeat;
}
.editButton[src="/static/newspaper.png"] {
  vertical-align: baseline;
  /* Some other style in this sheet already made this the correct user image. */
}

/* #main has a padding bottom to ensure there's enough space for this. If this wasn't absolutely positioned,
 * it would remain just below the content even if the sidebars were longer for that page.
 */
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 4px 16px;
  border-top: 1px dashed #ccc;
}

#footer:after {
  content: "layout: AMcBain, icons: Yusuke Kamiyamane";
  float: right;
}

/* I think these are terrible IDs, firstly because what if I wanted "copyleft" to appear on the right and
 * secondly because while this is intended to be the "copyright line" area, other deployments of Demovibes
 * what goes here can be configured and it may not strictly be copyright info. Lastly, copyleft is
 * presumably just intended to mean the left part of the copyright area, but "copyleft" already has another
 * different meaning relative to copyrights, licensing, and the like.
 */
#copyleft {
  float: left;
}

#copyright {
  display: none;
  float: right;
}


/* All the top left and right menu images. These are at the bottom, not where they might logically be
 * grouped above so that they can be written out nicely even though they'll take up a huge amount of
 * space.
 */
#sitemenu, #usermenu {
  text-align: center;
}

.menulist {
  display: inline-block;
  padding-left: 24px;
  text-align: left;
}

.menulist a {
  vertical-align: top;
}

/* Left side menu. */
#home {
  list-style-image: url("fugue/home.png");
}
#forum {
  list-style-image: url("fugue/balloons-white.png");
}

#songs {
  list-style-image: url("fugue/music.png");
}
#song-source {
  list-style-image: url("fugue/block.png");
}
#song-platform {
  list-style-image: url("fugue/computer.png");
}
#artists {
  list-style-image: url("fugue/user-green.png");
}
#groups {
  list-style-image: url("fugue/users.png");
} 
#labels {
  list-style-image: url("fugue/equalizer.png");
}
#compilations {
  list-style-image: url("fugue/disc-case.png");
}
#screenshots {
  list-style-image: url("fugue/pictures.png");
}
#licenses {
  list-style-image: url("fugue/creative-commons.png");
}
#tagcloud {
  list-style-image: url("fugue/price-tag.png");
  background: none;
}
#statistics {
  list-style-image: url("fugue/chart.png");
  background: none;
}

#sidebar #menuqueue {
  list-style-image: url("fugue/radio-old.png");
}
#sidebar #menuqueue + li {
  display: none;
}
#search {
  list-style-image: url("fugue/binocular.png");
}
#recent {
  list-style-image: url("fugue/new-text.png");
}
#recentchanges {
  list-style-image: url("fugue/clock.png");
}

#faq {
  list-style-image: url("fugue/question-balloon.png");
}
#links {
  list-style-image: url("fugue/chain.png");
}
#chat {
  display: none;
}

/* Spacing not provided by empty li elements */
#forum, #licenses {
  margin-bottom: 16px;
}

/* Right side menu. */
#register {
  list-style-image: url("fugue/page_white_edit.png");
}
#login {
  list-style-image: url("fugue/door_in.png");
}

#profile {
  list-style-image: url("fugue/card-address.png");
}
#favorites {
  list-style-image: url("fugue/heart.png");
}
#inbox {
  list-style-image: url("fugue/inbox-document-text.png");
}
#logout {
  list-style-image: url("fugue/door-open.png");
}

#admin {
  margin-top: 16px;
  list-style-image: url("fugue/hard-hat-mine.png");
}
#rightside #menuqueue {
  list-style-image: url("fugue/music--plus.png");
}
#menumute {
  list-style-image: url("fugue/megaphone--minus.png");
}

#unap-artists {
  margin-top: 16px;
  list-style-image: url("fugue/user--plus.png");
}
#unap-groups {
  list-style-image: url("fugue/users.png");
}
#unap-compilations {
  list-style-image: url("fugue/disc-case.png");
}
#unap-labels {
  list-style-image: url("fugue/equalizer--plus.png");
}
#unap-screenshots {
  list-style-image: url("fugue/images.png");
}
#unap-links {
  list-style-image: url("fugue/chain--plus.png");
}
#unap-nju {
  list-style-image: url("fugue/information-balloon.png");
}
