@import url(nectarine.css);

/**
 ** Author: Art McBain
 ** This stylesheet is PUBLIC DOMAIN.
 **
 ** All referenced images subject to the license of the demovibes project:
 ** https://github.com/arabek/demovibes
 **/

* {
    font-family: verdana,arial,geneva,sans-serif;
    font-size: 8pt;
}

html, #newslist:after, div[data-name=queue] + h2:before, #maincontent > h2:not(:first-child):before {
    background-color: #666;
}

body {
    margin: 0;
}

h2, #maincontent h1 {
    margin: 0;
    margin-bottom: 1em;
    padding: 1px;
    font-weight: bold;
    color: white;
    background-repeat: no-repeat;
}

#maincontent > h2 {
    margin-top: 1em;
}

h2 .headline {
    vertical-align: middle;
}

h2 img {
    margin-left: 1px;
}

h2 .date {
    padding-top: 1px;
}

h2 img, h2 .date {
    float: left;
    margin-right: 3px;
    color: black;
    font-weight: normal;
}

h2 .date:before {
    content: "[";
    display: inline;
}

h2 .date:after {
    content: "]";
    display: inline;
}

div[data-name=nowplaying] {
    text-align: center;
    padding: 0 5px;
}

div[data-name=nowplaying] object {
    position: relative;
    left: -5px;
    margin-top: 1em;
    margin-bottom: 0;
}

#screenshotview {
    margin: 1em 0;
}

/* Hide the platform icon when it would normally display the "platform not set" icon */
div[data-name=nowplaying] img[src*=empty] {
    display: none;
}

/* Forces the "by {artist}" part onto the next line by inserting a block element after the song title link */
div[data-name=nowplaying] a[href*=song]:after {
    display: block;
    content: "";
}

/* The previous style will also include the voting star links. This undoes that just in case it matters */
div[data-name=nowplaying] a[href*=vote]:after {
    display: inline;
}

/*
   Centers the "explicit content" image, which appears after the song title, and thus on the next line
   after the line-break inserted above ... best fix for the moment for this, as they re-used a CSS class
   (something you really shouldn't do like this, makes things hard to style)
 */
div[data-name="nowplaying"] .text-link {
    display: block;
    margin: 0 auto !important;
}

/*
   Allows us to make items inside table as large as possible (tables on demovibes appear "full width"
   even if they're not declared that way, so this doesn't hurt anything)
 */
form table {
    width: 100%;
}

form table ul {
    list-style-type: none;
}

/*
   Centers the submit buttons at the bottom of the PM, Edit Profile forms, and adding new threads on
   the forum. It also moves them down a bit further to prevent them from being easily overlooked
 */
input[value="Send"], input[value="Update"], input[value="Post"], input[value="Submit"] {
    display: block;
    margin: 1ex auto 0 auto;
}

input[value="Search"] {
    margin-left: .25em;
}

input[value^="Log In"] {
    display: block;
    margin: 0 auto;
}

input[value^="Log Me Out"] {
    display: block;
    margin: 0 auto;
}

/* Textarea for adding new song comments. Make it as wide as possible */
textarea[name="Comment"] {
    width: 97%;
    margin-bottom: .5em;
}

/* Generic input styles */
select, input[type="submit"], input[type="button"], button {
    border: 1px solid;
    border-color: white black black white;
    background-color: #6182ae;
}

select, input:not([type]), input[type="text"], input[type="submit"], input[type="button"], input[type="file"], button {
    width: 150px;
}

input[type="submit"], input[type="button"], button {
    height: 16px;
    padding: 0;
    line-height: 16px;
}

select, input[type="submit"], input[type="button"], button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

select, input:not([type]), input[type="text"], input[type="file"], textarea {
    border: 1px solid black;
    background-color: #ccc;
}

/* The little green guys don't like text encroaching on their personal space bubble */
img[src*="user_green"] {
    margin-right: 5px;
}

img[id^="vote-"] {
    width: 18px;
    height: 18px;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted #555;
}

#maincontent a{
    border-bottom: 1px dotted #444;
}

a:hover, a:active, .message-display-settings:hover {
    color: white;
    border-bottom: 1px dotted white;
}

.message-display-settings:hover {
    border-bottom: none;
}

a img {
    vertical-align: top;
    border: none;
}

/* I only changed the background-color, but I pulled all the styles in here. It's harder to override inline styles */
hr {
    width: 80% !important;
    height: 1px !important;
    border: 0px none !important;
    background-color: #444 !important;
}

#sidebar, #rightside, #main {
    padding: 0 10px;
}

#sidebar, #rightside {
    width: 200px;
    margin-bottom: 1.5em;
    text-align: center;
}

/*
   The bottom of the #rightside (right sidebar) has a <br> at the bottom. This one doesn't, so the "Who's Online?"
   section is too close to the bottom otherwise.
 */
#sidebar {
    float: left;
    padding-bottom: 1em;
}

/* This is what makes all the website's section headings appear as a right-aligned, underlined title */
#sidebar h3, #rightside h3 {
    margin: 0;
    margin-bottom: 6px;
    line-height: 10pt;
    text-indent: 2px;
}

#sidebar h3:before, #sidebar form:before, #rightside h3:before, #maincontent > h1:before {
    content: "";
    display: inline-block;
    height: 13px;
    vertical-align: middle;
}

.message-display-settings {
    margin-bottom: 6px;
}

#sitemenu, #menuoneliner, #menuonline, #usermenu, #nowplaying, .newsentryside {
    margin-bottom: 1.5em;
    background-color: #aaa;
}

#menuoneliner {
    position: relative;
}

#menuoneliner:before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    width: 8px;
    height: 8px;
    background: #cc0033;
}

#menuoneliner.updatesActive:before {
    background: #00cc00;
}

#menuoneliner.updatesIdle:before {
    background: darkgray;
}

#menuonline > h3 {
    content: "Logged in"; /* Opera only at the moment */
}

#sidebar ul, #rightside ul {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

#sidebar ul li, #rightside ul li {
    display: block;
    min-height: 16px;
    padding-left: 27px;
    text-align: left;
    background-position: 5px 0;
    background-repeat: no-repeat;
}

#sidebar ul li:not([id]), #rightside ul li:not([id]) {
    height: 10px;
    min-height: 10px;
}

#sidebar ul li a, #rightside ul li a {
    vertical-align: middle;
}

#sidebar form, #rightside form {
    position: relative;
    width: 100%;
    text-align: center;
}

#rightside .vote form {
    margin-bottom: 0;
}

#rightside {
    float: right;
}

/*
   Center the "Disclaimer" section text. The disclaimer div doesn't have any identifiable attributes so we must
   target all paragraph tags in the right sidebar, and make exceptions for non-centered identifiable paragraphs
 */
#rightside p {
    margin: 0;
    text-align: center;
}

/* Uncenter the "The Team" section text. Demovibes after the validation errors fix doesn't need this anymore. */
#rightside div[align=left] p {
    text-align: left;
}

/* Button code from http://www.webdesignerwall.com/tutorials/css3-gradient-buttons/ */

#rightside input[value="Listen"] {
    width: 75px;
    margin: 0 2px .75em;
}

#rightside hr {
    margin-top: 0;
    margin-bottom: 1em;
}

/* Now Playing h3 */
#nowplaying > h3 {
    content: "On air"; /* Opera only at the moment :( */
}

#rightside div[data-name="nowplaying"] {
    position: relative;
}

#menuoneliner > h3 {
    content: "Oneliner";
}

/*
   Sometimes text in the oneliner is too long and has no spaces, so rather than hide the overflow, or let it
   overflow into the main content area, let the browser provide a scrollbar until that oneliner message is
   pushed out of the view. Even if you don't use the scrollbar, the oneliner should appear the same. Total win
 */
#oneliner {
    overflow: auto;
    padding: 0 5px;
    text-align: left;
}

#oneliner + a {
    display: block;
    padding: .25em;
    text-align: center;
    border-top: 1px solid black;
}

/* All the top right and left menu images */
#home         {background-image: url("nectarine-static/house.png");}
#songs        {background-image: url("nectarine-static/music.png");}
#song-platform    {background-image: url("nectarine-preview/joystick.png");}
#artists    {background-image: url("nectarine-static/user_green.png");}
#compilations   {background-image: url("nectarine-preview/cd.png");}
#screenshots   {background-image: url("nectarine-preview/pictures.png");}
#licenses   {background-image: url("nectarine-preview/page.png");}
#tagcloud        {background-image: url("nectarine-preview/tag_yellow.png");}
#statistics   {background-image: url("nectarine-static/chart_bar.png");}
#recent            {background-image: url("nectarine-static/new.png");}
#sidebar #menuqueue    {background-image: url("nectarine-static/script.png");}
#rightside #menuqueue    {background-image: url("nectarine-preview/page_white_get.png");}
#search        {background-image: url("nectarine-static/find.png");}
#forum        {background-image: url("nectarine-static/user_comment.png");}
#profile    {background-image: url("nectarine-preview/vcard_edit.png");}
#favorites    {background-image: url("nectarine-static/heart.png");}
#register    {background-image: url("nectarine-static/page_white_edit.png");}
#logout        {background-image: url("nectarine-static/door_out.png");}
#login        {background-image: url("nectarine-static/door_in.png");}
#admin        {background-image: url("nectarine-preview/wrench.png");}
#inbox        {background-image: url("nectarine-static/email.png");}
#menumute  {background-image: url("nectarine-preview/sound_mute.png");}
#unap-artists   {background-image: url("nectarine-static/user_green.png");}
#unap-groups    {background-image: url("nectarine-static/group.png");} 
#unap-labels    {background-image: url("nectarine-static/transmit_blue.png");}
#unap-links     {background-image: url("nectarine-static/link.png");}
#unap-compilations   {background-image: url("nectarine-preview/cd.png");}
#unap-screenshots {background-image: url("nectarine-preview/monitor.png");}
#unap-nju    {background-image: url("nectarine-preview/information.png");}
#groups         {background-image: url("nectarine-static/group.png");} 
#labels        {background-image: url("nectarine-static/transmit_blue.png");}
#links        {background-image: url("nectarine-static/link.png");}
#recentchanges    {background-image: url("nectarine-preview/time.png");}
#faq        {background-image: url("nectarine-preview/help.png");}
#song-source        {background-image: url("nectarine-preview/server_connect.png");}
#chat        {background-image: url("nectarine-preview/user.png");}

#admin {
    margin-top: 10px;
}

#forum {
    margin-bottom: 10px;
}

#searchform {
    margin-bottom: 1.5em;
}

#main {
    margin-top: 143px;
    margin-left: 205px;
    margin-right: 205px;
}

#mainlogo {
    position: absolute;
    top: 16px;
    right: 10px;
    left: 10px;
    height: 115px;
    border: 1px solid black;
    background-color: #006699;
}

#mainlogo img {
    display: block;
}

#main > h1 {
    position: absolute;
    left: 16px;
    top: 1px;
    margin: 0;
}

#main h3 {
    margin: 4px 0 .5em 1em;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
}

/*
   Right align the form labels on the "Edit My Profile" page and line up the labels with their fields instead
   of letting them be vertically centered (as having both the field and description in the same table cell
   makes the row taller, which paired with table cells centering their contents by default ...) This also
   applies to the PM send/reply message page form
 */
#main form table th:first-child {
    vertical-align: top;
    padding-top: .25em;
    padding-right: 1ex;
    text-align: right;
}

/* On the "My Favorites" page, reduce the space between the end of the song list table and the page navigation */
#maincontent > br:last-of-type {
    margin-top: -1em;
}

/*
   Most page navigations on Demovibes print each page number on a separate line in the source which, for inline
   elements, means browsers should turn the newlines into a space and display it on the same line as the previous
   element. On the favorites page, they're all printed on the same line in the source, so no spaces. I liked the
   spaces, and even more, interface consistency. So this adds the spaces back in.
 */
#maincontent a[href*="favorites/?page"]:after {
    content: " ";
}

/* See previous. The active page is a bold tag, not a link. */
#maincontent b:last-of-type:after {
    content: " ";
}

/* Oneliner input */
#blah {
    display: block;
    margin: -1.5em auto 0;
}

/* Oneliner input */
#makeitso {
    content: "Add"; /* Opera only at the moment :( */
    display: block;
    margin: 0 auto;
}

#whosonline {
    padding: 0 5px 1em;
    text-align: center;
}

#whosonline span {
    white-space: nowrap;
}

#whosonline .countryflag {
    margin-left: 5px;
}

#whosonline + br {
    display: none;
}

#newestuser {
    padding-bottom: .5em;
}

/* Removes an ugly hover background color for certain form fields which was added by the base stylesheet */
#linksform tr:hover {
    background-color: transparent;
}

/* Textarea for editing forum posts. Make it as wide as possible */
#id_body {
    width: 98%;
    margin-bottom: .5em;
}

/* Textarea for creating PMs. See previous */
#id_message {
    width: 98%;
}

#djangoForumBreadcrumbs {
    margin-bottom: .5em;
}

/* Put down here because of relevance */
#maincontent {
    position: relative;
    padding: 0 6px 20px;
}

#maincontent > h2 {
    margin: 0 -6px 5px;
    border-bottom: 1px solid white;
}

/*
 * hack that handles the case when we're not on the home/news page (adds the requisite
 * background and border). The second case handles the FAQ page which has a link first.
 */
#maincontent > h2:first-child:before, #maincontent > a:first-child + h2:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    z-index: -1;
    margin-bottom: 1.5em;
}

ul.errorlist li {
    color: darkred;
}

/* Recent stuff */

.recentchanges {
    width: 100%;
    margin-bottom: 1em;
}

/* News styles (homepage) */

#maincontent > h1 + form, #maincontent > h2:first-child:before, #maincontent > a:first-child + h2:before, .recentchanges, .newsentry:not(.newsentrystatic), .newsentrystatic .newstext {
    padding: 3px;
    border: 1px solid;
    border-color: white black black white;
}

#maincontent > h1 + form, #maincontent > h2:first-child:before, #maincontent > a:first-child + h2:before, .recentchanges, .newsentry:not(.newsentrystatic) {
    color: #ccc;
    background-color: #77777f;
}

.theme {
    position: relative;
}

.themeimage {
    max-height: 130px;
    overflow: hidden;
}

.theme .user_count, .theme .isdefault, .theme .islocal, .theme form {
    position: absolute;
    right: 0;
    bottom: 1em;
    left: 0;
}

.theme .user_count, .theme .isdefault, .theme .islocal {
    text-align: center;
}

.theme .isdefault {
    margin-bottom: 23px;
}

.theme .islocal {
    margin-bottom: 35px;
}

.theme .user_count {
    margin-bottom: 47px;
}

.theme form {
    right: 1em;
    left: 1em;
}

.theme form input {
    width: 100%;
}

.newsentry {
    margin: 0 -3px 1em;
}

.newsentryside:first-child > h3 {
    content: "Information"; /* Opera only at the moment */
}

.newsentry:last-child {
    margin-bottom: 0;
}

.freshnews h2 {
    position: relative;
}

.freshnews h2:before {
    content: url("nectarine-static/new.png");
    position: absolute;
    left: 1px;
}

.newsentry a {
    border-bottom: none;
}

.newsentry .newstext {
    overflow: hidden;
}

.newsentry .newstext img {
    margin-right: 5px;
}

.newsentrystatic {
    position: relative;
}

.newsentrystatic h2 {
    overflow: hidden;
}

.newsentrystatic .newstext {
    color: black;
    background-color: #999;
}

#maincontent h1, .newsentrystatic h2 {
    margin: 0;
}

#maincontent > h1, #sidebar h3, #rightside h3, #maincontent > h2, .newsentrystatic h2 {
    font-weight: normal;
    text-align: left;
    color: black;
    background-color: #6182ae;
}

.newsentryside {
    padding-bottom: 5px;
}

.newsentryside:first-child input[type="image"] {
    max-width: 180px;
}

.newsentryside:last-child .entrytext div {
    margin-left: 10px !important;
}

/* Message-system styles */
.messagebox {
    left: 235px;
    right: 235px;
    width: auto;
    border-top: none;
}

.messagetitle {
    background: #6182ae;
    border-bottom-style: dashed;
}

.messagetitle, .messagelist {
    border: 1px solid #888a85;
}

.messagetitle, .messagelist {
    border: 1px solid #888a85;
}

.messagelist {
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.messagelist:empty {
    display: none;
}

.messageholder {
    font-size: 14px;
    line-height: 14.5px;
    padding: 3px;
    opacity: 1;
    background-color: #aaa;
    border-top: 1px dotted #999;
}

.messageholder:hover {
    background-color: #ccc;
}

.messageholder:first-child {
    border-top: none;
}

.messagetime {
    font-size: 9.8px;
    vertical-align: top;
}

.messagetext {
    vertical-align: middle;
}

.messagefadeborder {
    margin-top: 4px;
    background-color: #ccc;
    border: 1px solid #888a85;
}

.messagefade {
    background-color: #ddd;
}

/* I only changed the color, but I pulled all the styles in here. It's harder to override inline styles */
.onelinerpre > span:last-child {
    float: left !important;
    margin: 0 5px 0 0 !important;
    visibility: hidden;
    text-align: left !important;
    color: #555 !important;
}

.onelinerpre > span:last-child span {
    visibility: visible;
}

.onelinertext a {
    word-break: break-all;
}

.countryflag, .artist, .label_icon, .platform_icon, .group_icon, .compilation_icon, .text-link, img[src*=platform] {
    margin-right: 5px;
}

.vote {
    margin: 0 auto;
}

.starbutton {
    padding: 0;
    font-size: 0;
}

/* Aligns the platform icon (ic chip image)  better with text on the same line */
.platform_icon {
    vertical-align: bottom;
}

.group_icon {
    margin-left: 5px;
}

/* Expands the (+) button link tag so we can center the inner image. See next CSS block */
.songlist span[name^=a_queue] a {
    display: block;
}

/* Horizontally centers the (+) button image in song lists */
.songlist span[name^=a_queue] img {
    display: block;
    margin: 0 auto;
}

.queuesongimage {
    vertical-align: text-bottom;
}

td > .song_tail {
    display: block;
    margin: 0 auto;
}

td.compilation_description > .song_tail {
    display: inline;
    margin: 0;
}

div > .song_tail {
    display: none;
}

.taglist + .songname ~ p:nth-of-type(4) + div > span:not([data-name]):first-child {
    display: inline-block !important;
    height: 16px;
    padding-left: 18px;
    font-size: 0;
    background: url("nectarine-static/lock.png") no-repeat;
}

.taglist + .songname ~ p:nth-of-type(4) + div > span:not([data-name]):first-child:after {
    content: "Song is currently locked for queuing.";
    font-size: 9pt;
    font-style: italic;
}

.songlist .artist {
    margin-right: 1ex;
}

.songlist .text-link {
    margin-left: 3px;
    margin-right: 0;
}

input.queuesongbutton {
    width: auto;
    padding-left: 16px;
    background: url("nectarine-static/add.png") no-repeat;
    border: none;
    cursor: pointer;
}

.compilation_summary form p {
    white-space: nowrap;
}

.compilation_summary form label {
    display: inline-block;
    width: 66px;
    padding-right: 2px;
    text-align: right;
}

.compilation_summary form .helptext {
    display: block;
    margin-top: .25em;
}

.compilation_summary form input[type="submit"] {
    display: block;
    margin: 0 auto;
}

/*
   Makes the screenshot line up with the start of the text in the right column.
   A side effect is that border becomes more of an outline, which is okay here.
 */
.compilation_summary .screenshot {
    margin-top: -3px;
}

/* Limits the size of cover images on summaries and ensures a minimum width. */
.compilation_summary, .group_summary, .artist_details, .label_summary {
    max-width: 250px;
    min-width: 100px;
    padding-right: 1em;
}

/*
   Ensures left and right columns on the information pages are aligned to the
   top regardless of which has more content.
*/
.compilation_summary, .group_summary, .artist_details, .label_summary,
.compilation_description, .group_description, .artist_information, .label_description
{
    vertical-align: top;
}

.compilation_screenshot, .group_logo, .artist_logo {
    width: 100%;
}

/* Should not be fixed size (from the base CSS) */
div.screenshot, .screenshot {
    height: auto;
}

div.screenshot:hover {
    padding: 3px;
    background: none;
    border: none;
}

/* Tag block shown on a song's info page */
div.taglist {
    overflow: auto;
    border: 1px solid #aaa;
    border-radius: 0;
    background-color: #999;
}

.taglist p {
    font-weight: bold;
}

.tagview_1, .tagview_2, .tagview_3, .tagview_4 {
    white-space: nowrap;
}

.tagview_1 a {
    font-size: x-small;
}

.tagview_2 a {
    font-size: medium;
}

.tagview_3 a {
    font-size: x-large;
}

.tagview_4 a {
    font-size: xx-large;
}

/* Stuff related to pagination displays */
.paging {
    padding-top: 5px;
}

.paging .active a {
    text-decoration: underline;
}

/* Search related */
.searchpostpreview {
    margin-left: 2em;
    border-color: #aaa;
    background-color: #999;
}

.searchpostpreview p {
    padding-left: .25ex;
}

.searchpostpreview p:first-child {
    padding-left: 0;
}

.searchpostpreview p:last-child {
    margin-bottom: 0;
}

.searchinfo a {
    padding-right: .25ex;
}

/* Used on the streams page, .popup is the information shown when rolling over a .bubbleInfo */
.bubbleInfo .popup {
    display: none;
}

/* Make the labels for adding a new thread on the forums right aligned and bold, to match other forms */
.label {
    vertical-align: top;
    padding-right: 3px;
    padding-top: 4px;
    font-weight: bold;
    text-align: right;
}

table.recentchanges td {
    vertical-align: top;
}

/*
   The following is all for the song list tables (queue, history, recent approvals, and the PM list)
   Why the PM list is classed as a songlist, I'll probably never know.
 */

table.songlist, table.recent-approvals {
    width: 100%;
    border-spacing: 0px;
}

table.songlist td, table.recent-approvals td {
    padding: 1px 5px 1px 5px;
}

/* Makes the span containing "add to queue" image as wide as the containing td, and centers the image */
table.songlist td span[data-name^="a_queue"], table.songlist td span.lastreqdate, table.recent-approvals td span.lastreqdate {
    display: block;
    text-align: center;
}

/* Puts the "add to queue" and "add to favorites" images side-by-side on the "new uploads" page */
table.recent-approvals td:last-child span, table.recent-approvals td:last-child a {
    float: left;
}

/*
   Fixes issue in WebKit and Opera browsers where the link clickable area is not in the same place as the image
   appears. This causes issues like unfaving the wrong song, or other things.
 */
table.songlist td a[href*="favorites/del"], table.recent-approvals td:last-child a {
    display: block;
}

table.recent-approvals td:nth-of-type(3), table.recent-approvals td:nth-of-type(5) span {
    white-space: nowrap;
}


table.recent-approvals td:nth-of-type(5) {
    text-align: left;
}

table.songlist th, table.recent-approvals th {
    padding: 3px;
}

/* Centers the text of the 3rd, 4th, and 5th columns of the table */
table.songlist td:nth-of-type(3), table.songlist td:nth-of-type(4), table.songlist td:nth-of-type(5),
table.recent-approvals td:nth-of-type(3), table.recent-approvals td:nth-of-type(4) {
    text-align: center;
}

table.songlist.statistics td:nth-of-type(3),
table.songlist.mailbox td:nth-of-type(3), table.songlist.mailbox td:nth-of-type(4) {
    text-align: left;
}

/* Style all even rows with a light color. Use the .row1 class for row styling not using CSS3 */
table.songlist tr.row1 td, table.recent-approvals tr.row1 td {
    background-color: #aaa;
}

/* Style all odd rows with a dark color. Use the .row2 class for non-CSS3 row styling */
table.songlist tr.row2 td, table.recent-approvals tr.row2 td {
    background-color: #999;
}

table.songlist tr:hover td, table.recent-approvals tr:hover td {
    background-color: #ccc;
}

#maincontent h2:not(:first-child) {
    position: relative;
    margin-top: 1.75em;
}

#maincontent a:first-child + h2 {
    position: static;
    margin-top: 0;
}

div[data-name=queue]:after, #maincontent > h2:not(:first-child):before {
    content: "";
    display: block;
    position: relative;
    left: -6px;
    height: 3px;
    margin: 2px -12px 4px 0;
    border-bottom: 1px solid black;
}

#maincontent > h2:not(:first-child):before {
    position: absolute;
    top: -1em;
    right: 0;
    height: 1em;
    margin: 0;
    border-top: 1px solid black;
    border-bottom: none;
}

#searchform:after {
    border-top: 1px solid black;
    border-bottom: none;
}

div[data-name=queue] + h2:before {
    content: "";
    display: block;
    position: relative;
    top: -.5em;
    left: -7px;
    margin-right: -8px;
    height: 1.25em;
}

/* This gives the history table's bottom right corner more curve, to match the outer edge of the #main box */
div[data-name=history] {
    margin-bottom: 1px;
}

/* This following is all stuff to style the various tables used in the forums and song comments */

table#djangoForumList, table#djangoForumThreadList, table#djangoForumThreadPosts {
    width: 100%;
    border-spacing: 0px;
}

table#djangoForumList th, table#djangoForumThreadList th, #djangoForumThreadPosts th {
    padding: 3px;
}

table#djangoForumList td, table#djangoForumThreadList td {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table#djangoForumList td.djangoForumListDetails .djangoForumStats {
    float: right;
}

table#djangoForumList td.djangoForumListDetails p {
    position: relative;
}

table#djangoForumList td.djangoForumListDetails p .djangoForumStats {
    position: absolute;
    right: 0;
    top: 0;
}

table#djangoForumList td.djangoForumListDetails p {
    margin-top: .25em;
    margin-bottom: .125em;
}

/* Bumps the thread name to the next line when there's text like "Sticky" in front of it */
table#djangoForumThreadList td.djangoForumThreadListName a {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
}

table#djangoForumList tr td:first-of-type, table#djangoForumThreadList tr td:first-of-type {
    border-left: 1px solid #ccc;
}

/*
   Same as before, we have to deal with the table headers being inside the table body.
   I'll stop mentioning it, but if you see (:nth-child(2), this is probaby why
 */
table#djangoForumList tr:nth-child(2) td, table#djangoForumThreadList tr:nth-child(2) td {
    border-top: 1px solid #ccc;
}

/* Turn all columns grayish, make the first one white (next block) */
table#djangoForumList tr td:nth-of-type(n), table#djangoForumThreadList tr td:nth-of-type(n) {
    background-color: #999;
}

table#djangoForumList tr td:nth-of-type(1), table#djangoForumThreadList tr td:nth-of-type(1) {
    background-color: #aaa;
}

table#djangoForumThreadPosts {
    margin-top: .5em;
    margin-bottom: 1em;
    table-layout: fixed;
}

/*
   I would love to make this scroll, but scroll: auto doesn't work with table cells, and
   all solutions involve a div that wraps the cell contents (the div can then be styled
   to get a scrollbar)
*/
table#djangoForumThreadPosts .djangoForumThreadPostDetail {
    width: 112px;
    max-width: 112px;
    vertical-align: top;
    overflow: hidden;
    padding: 1em 0 0 1em;
}

table#djangoForumThreadPosts .djangoForumThreadPostDetail span {
    padding-right: .5em;
}

/*
   Hides the table header row on post lists, because it didn't really provide any
   useful information like other table headers did
 */
table#djangoForumThreadPosts tr:first-child {
    display: none;
}

/* The following blocks style lists of posts (rounded corners, etc) */
table#djangoForumThreadPosts tr.postmain td:first-child {
    border-top: 1px solid #ccc;
    background-color: #999;
}

table#djangoForumThreadPosts tr.postmain td:first-child, table#djangoForumThreadPosts tr.postfooter td:first-child {
    border-left: 1px solid #ccc;
}

table#djangoForumThreadPosts tr:last-child td {
    border-bottom: 1px solid #ccc;
}

table#djangoForumThreadPosts tr.postfooter td {
    background-color: #999;
}

table#djangoForumThreadPosts tr.postfooter td:first-child {
    padding-top: .25em;
    padding-left: .5em;
}

/* Right align text in the second post footer column ("Quote", "Edit Post" text) */
table#djangoForumThreadPosts tr.postfooter td:last-child {
    padding-right: .5em;
    text-align: right;
    border-right: 1px solid #ccc;
}

table#djangoForumThreadPosts tr.postfooter td:only-child {
    text-align: left;
}

/* Post content area padding, border, and alignment (to counter the table cell content centering) */
table#djangoForumThreadPosts .post {
    vertical-align: top;
    padding-left: .5em;
    padding-right: .75em;
    border: 1px solid #ccc;
    background-color: #aaa;
}

table#djangoForumThreadPosts .post > div, .post > p {
    overflow: auto;
}

/*
   Make it stand out just a tad so it's more obvious where the drop area
   is and also keep it from hanging over the edge of the main content.
 */
#sortsonglist.ui-sortable {
    display: block;
    width: auto;
    border: 1px dashed lightgray;
}

#footer {
    position: absolute;
    top: 117px;
    left: 11px;
    right: 11px;
    height: 12pt;
    padding-right: 3px;
    line-height: 12pt;
    background-color: black;
}

#footer, #footer a {
    font-size: 7pt;
    font-weight: normal;
    text-align: right;
    color: white;
}

#footer br {
    display: none;
}

#copyleft:after {
    content: ".";
    display: inline;
    margin-left: -.3em;
    margin-right: .25em;
}
