@import url(../../nectarine.css);

/* Necta64 - 12.07.2015 ' silok */





body{

	font-family: arial;

	font-size:12px; 
	background-color:#121224;
background-image: url("slktheme/cbg.png");
	color:#6A61BE;
	//text-transform:uppercase;
opacity:0.9 filter:alpha(opacity=90);
//text-shadow: 0 0 0px black;
font-weight: bold;

	
	
}

a{
	text-decoration:none;
	color:#6A61BE;
	font-weight:bold;
	//text-transform:lowercase;
}

A:hover {color:7ABFC7;}


#maincontent{
	padding:5px;
width: auto;

}

#sidebar img{
	padding-right:5px;
}

#main h1{
	text-align:center;

}

/* basic color  stuff */
#main h2{
 
    border-left: 3px solid #3A318C;;
    border-top: 3px solid #3A318C;;
    border-right: 3px solid #3A318C;;
    border-bottom: 3px solid #3A318C;;
    font-size: 12px;
padding:8px;
color: #6A61BE; 
border-radius: 8px 8px 8px 8px;
text-shadow: 0 0 5px black;

}

#sidebar h3{
background-color: #83A318C;
	padding-top:5px;
	text-align: center;
color: #ffffff;
text-shadow: 0 0 5px black;

}

#rightside h3{
    	background-color: #83A318C18C;
	padding-top:5px;
	text-align: center;
color: #ffffff;
text-shadow: 0 0 5px black;
}


#rightside
{
	float: right;
	display: inline;
	position: relative;
	width: 200px;
	margin: 8px;

	padding:0px;
	text-align: center;
	display: inline;
	background-color: #3A318C;
	color:#6A61BE;
	opacity:0.9 filter:alpha(opacity=90); 
	border-radius: 8px 8px 8px 8px;	
	
background-image: url("slktheme/c64back.png");
	background-repeat: no-repeat;
text-transform:uppercase;
}



#sidebar
{
	float: left;
	display: inline;
	position: relative;
	width: 200px;
	margin: 8px;

	text-align: center;
	display: inline;
	background-color:#3A318C;	
	color:#6A61BE;
	padding:0px;	
	opacity:0.9 filter:alpha(opacity=90); 
	border-radius: 8px 8px 8px 8px;
	
	background-image: url("slktheme/c64back.png");
	background-repeat: no-repeat;
text-transform:uppercase;
}



#footer{
	background-color:#3A318C;
	margin-top:50px;	
	padding:10px;
	color:#6A61BE;
	border:2px solid #3A318C;	
	text-align:center;
	clear:both;
opacity:9.0 filter:alpha(opacity=90);
}

#logo{
		display: none;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position:absolute;
	
}

/* navigation stuff */
img{

}



h2,h3{
	color:#6A61BE;
text-shadow: 0 0 5px black;
}

h1{
	//color:#3A318C;
color: #6A61BE; 
text-shadow: 0 0 5px black;

}

.queuesongbutton{
	cursor:pointer;
}

h3
{
	padding-top:0px;
	margin: -2px;
	font-size: 11px;
	text-align: center;
	margin-bottom: 2ex;
	
}

#rightside ul
{
	padding: 0;
	margin-top: 1ex;
	margin-bottom: 2ex;
	display: inline-block;
	list-style-type: none;
	text-align: left;
}

#rightside ul li
{
	background-position: 0px 50%;
	background-repeat: no-repeat;
	min-height: 16px;
	padding-left: 16px;
	display: block;
}

#sidebar ul
{
	padding: 0;
	margin-top: 1ex;
	margin-bottom: 2ex;
	display: inline-block;
	list-style-type: none;
	text-align: left;
}

#sidebar ul li
{
	background-position: 0px 50%;
	background-repeat: no-repeat;
	
	min-height: 16px;
	padding-left: 16px;
	display: block;
}
#sidebar li a
{
	margin-left: 1ex;
	color: #6A61BE;
	text-decoration:none;

	
}
#rightside li a
{
	margin-left: 1ex;
	color: #6A61BE;

}
#home 		{background-image: url("http://www.nuaudio.de/slktheme/c64cursor.gif");}
#songs		{background-image: url("http://www.nuaudio.de/slktheme/c64circle.png");}
#song-source		{background-image: url("http://www.nuaudio.de/slktheme/c64quad.png");}
#song-platform		{background-image: url("http://www.nuaudio.de/slktheme/c64pik.png");}
#artists	{background-image: url("http://www.nuaudio.de/slktheme/c64heart.png");}
#compilations	{background-image: url("http://www.nuaudio.de/slktheme/c64circle.png");}
#recent	        {background-image: url("http://www.nuaudio.de/slktheme/c64quad.png");}
#recentchanges  {background-image: url("http://www.nuaudio.de/slktheme/c64pik.png");}
#menuqueue	{background-image: url("http://www.nuaudio.de/slktheme/c64heart.png");}
#search		{background-image: url("http://www.nuaudio.de/slktheme/c64circle.png");}
#forum		{background-image: url("http://www.nuaudio.de/slktheme/c64quad.png");}
#faq		{background-image: url("http://www.nuaudio.de/slktheme/c64pik.png");}
#profile	{background-image: url("http://www.nuaudio.de/slktheme/c64circle.png");}
#favorites	{background-image: url("http://www.nuaudio.de/slktheme/c64heart.png");}
#register	{background-image: url("http://www.nuaudio.de/slktheme/c64quad.png");}
#logout		{background-image: url("http://www.nuaudio.de/slktheme/c64pik.png");}
#login		{background-image: url("http://www.nuaudio.de/slktheme/c64heart.png");}
#admin		{background-image: url("http://www.nuaudio.de/slktheme/c64circle.png");}
#inbox		{background-image: url("http://www.nuaudio.de/slktheme/c64quad.png");}
#unap-artists		{background-image: url("http://www.nuaudio.de/slktheme/c64pik.png");}
#unap-groups		{background-image: url("http://www.nuaudio.de/slktheme/c64heart.png");}
#unap-compilations    {background-image: url("http://www.nuaudio.de/slktheme/c64circle.png");}
#unap-labels            {background-image: url("http://www.nuaudio.de/slktheme/c64quad.png");}
#unap-links     {background-image: url("http://www.nuaudio.de/slktheme/c64pik.png");}
#unap-nju     {background-image: url("http://www.nuaudio.de/slktheme/c64heart.png");}
#groups		{background-image: url("http://www.nuaudio.de/slktheme/c64circle.png");}
#labels            {background-image: url("http://www.nuaudio.de/slktheme/c64quad.png");}
#links		{background-image: url("http://www.nuaudio.de/slktheme/c64pik.png");}
#screenshots		{background-image: url("http://www.nuaudio.de/slktheme/c64heart.png");}
#unap-screenshots     {background-image: url("http://www.nuaudio.de/slktheme/c64circle.png");}
#licenses 		{background-image: url("http://www.nuaudio.de/slktheme/c64quad.png");}
#chat		{background-image: url("http://www.nuaudio.de/slktheme/c64pik.png");}
#statistics		{background-image: url("http://www.nuaudio.de/slktheme/c64pik.png");}
#tagcloud		{background-image: url("http://www.nuaudio.de/slktheme/c64circle.png");}

#oneliner
{
	margin: 8px;
	margin-top: 0;
	margin-bottom: 2ex;
	text-align: left;
	overflow: hidden;
	text-transform:none;
}

#blah{
	position:relative;
	
	background-color:#3A318C;
	border: 3px solid #6A61BE;
    border-radius: 8px 8px 8px 8px;
	width:170px;	
	color:#6A61BE;
	

}
select,input,textarea{
	background-color:#3A318C;
		border: 3px solid #6A61BE;
    border-radius: 8px 8px 8px 8px;
/*	color: #00adee; */
	color:#6A61BE;
	padding-left:4px;
	padding-right:4px;

	
}
textarea{
	width:100%;
}

input[type=submit]{
	padding:10px;	
	border-radius: 10px 10px 10px 10px;
	min-width:200px;
	margin-top:20px;
	margin-bottom:20px;
}


#makeitso
{
	display:none;
	position:absolute;
	padding-left:5px;
	border: none;
	width: 16px;
	margin-left: -19px;
	background-color: transparent;
	color: #000000;
	background-repeat: no-repeat;
	background-position: center center;
}

#formvote input,.queuesongimage{
	border:0px;
	border-radius:0px;
	background-color:transparent;
	padding:0px;
	margin:0px;
	
}


.onelinerpre {
	color:#000000;
}



/* song view */



table.songlist {
width: 100%;
text-shadow: none;
	border-collapse: collapse;
	border-spacing: 0px;
	
text-transform:uppercase;
}

table.songlist td {

	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
//opacity:0.9 filter:alpha(opacity=90); 
color: #6A61BE;
	
}

table.songlist th {

		background-color: #3A318C;

	padding: 0px;
	border-collapse: collapse;
color: #6A61BE;
-moz-border-radius-topleft: 8px;	
 	-webbkit-border-top-left-radius: 8px;	
  border-top-left-radius: 8px;
-moz-border-radius-topright: 8px;	
 	-webbkit-border-top-right-radius: 8px;	
  border-top-right-radius: 8px;



}

table.songlist tr.row1 td a{
background-color: #6A61BE;

    color:#3A318C;
}
table.songlist tr.row1 td {
background-color: #6A61BE;

    color:#3A318C;

}
table.songlist tr.row2 td {
/*	background-color: #e1e1e1; */
color:#6A61BE;
    background-color: #3A318C;;
//#3A318C;

 
}

/* FORUM STUFFZ */

#djangoForumBreadcrumbs, .pages
{
    margin-bottom: 1em;
color:#cccccc;
}


.pagesBottom
{
    margin-top: 1em;
	text-align: right;
}

#djangoForumList,
#djangoForumThreadList
{
	width: 99%;
	margin: auto;
	
	background-color: transparent;
	background-color: #3A318C;
	/* border-collapse:collapse; */
	background-position: center;
	color:#6A61BE;
	border-left: 3px solid #3A318C;
	border-radius: 8px 8px 8px 8px;
	padding-left: 8px;
	padding-right: 8px;
	
}

#djangoForumList th,
#djangoForumThreadList th,
#djangoForumThreadPosts th
{
	
	background-repeat:repeat-x;
	height:26px;
color:#6A61BE;


}

#djangoForumList td,
#djangoForumThreadList td
{
	padding:0;

	
	
}

.djangoForumListDetails,
.post
{

}

.djangoForumListDetails p
{
	margin: 4;
}

#djangoForumList .djangoForumListDetails .djangoForumStats
{
	position: relative !important;
	position: static; /* ha! lost stupid ie6 again! */
	z-index: 5;
	float: right;
	margin-top: -12pt;
	padding-right: 8px;
	font-size: 7pt;
}

.forumName
{
	display: block;
	position: relative !important;
	position: static; /* ha! */
	z-index: 10;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 12pt;
	font-size: 12pt;
	color:#6A61BE;
}

.djangoForumListDetails .forumDescription
{
	display: block;
	position: relative !important;
	position: static; /* ha! */
	z-index: 5;
	margin-top: -12pt;
	padding: 0;
	padding-left: 8px;
	padding-right: 8px;
}

#djangoForumList .djangoForumListDetails
{
	width: 70%;
	padding: 0;
}

#djangoForumList td,
#djangoForumThreadList td
{
	padding-left: 8px;
	padding-right: 8px;
}

.djangoForumListDetails
{
	padding: 0;
}

#djangoForumThreadList td
{
	width: 5%;
	text-align: center;
color:#6A61BE;
margin-left: 12px;


}

#djangoForumThreadList .djangoForumThreadListName
{
	width: 60%;
	text-align: left;
	padding: 0;
		
}

#djangoForumList .djangoForumListLastPost,
#djangoForumThreadList .djangoForumThreadLastPost
{
	width: 30%;
	text-align: left;
padding-left: 8px;
	padding-right: 8px;
}

.djangoForumThreadListName{
	font-weight:bold;
	font-size:12px;
}

.postmain{
	background-color: #3A318C;
	
	
}
.post,.searchpostpreview{
	background-color: #3A318C;	
	padding:10px;
}

#linksform{
	border-collapse:collapse;
	padding-bottom:10px;
}
#linksform td{
		padding-bottom:10px;
		padding-top:10px;
}
#linksform tr:hover {
    background-color: #3A318C;
color:#6A61BE;
}



div.screenshot:hover {
    background-color: #3A318C;
   
    padding: 2px;
}



.threadName
{
	display: block;
	line-height: 2em;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 12px;
	
}



div.taglist{
	background: none repeat scroll 0 0 #3A318C;
	border: 0px;
	float: right;
	margin-left: 6px;
	overflow: hidden;
	padding: 6px;
	width: 40%;
}

#djangoForumThreadPosts
{
	width: 99%;
	margin: auto;
	border: 0;
	border-collapse: collapse;
	background-color: transparent;
	/*background-image: url("hilight.png"); */
	background-position: center;

		
	
}

#djangoForumThreadPosts td
{
	padding-left: 8px;
	padding-right: 8px;
}


#djangoForumThreadPosts .djangoForumThreadPostDetail
{
	vertical-align: top;
	border-right: 2px solid #6A61BE;
	padding-top: 1em;
	border-radius: 8px 8px 8px 8px;
}

#djangoForumThreadPosts
{
color:#6A61BE;
	
}

#djangoForumThreadPosts .postfooter
{


	text-align: right;
}

#djangoForumThreadPosts .postfooter td:first-child
{
	text-align: left;
	font-size: 7pt;

}


#djangoForumThreadPosts .post
{
	vertical-align: top;
	padding-top: 1em;
	border: 0;

	width: 85%;
}

.post p
{
	margin: 0;
	margin-bottom: 1em;
color:#6A61BE;
}


#newThread
{
	width: 99%;
	margin: auto;
}

#newThread .label
{
	text-align: right;
	vertical-align: top;
}

#newThread #postThread
{
	text-align: center;
	
}


#newThread #postThread
{
	text-align: center;
}



.messagetitle{
	background-color:#3A318C;
	font-size:11px;
	color:#cccccc;
}

.messageholder,.messageholder:hover{
	color:#cccccc;
	background-color:#3A318C; 
	padding-left:15px;
	border:2px solid #3A318C; 
	font-size:11px;
	opacity:0.5; filter:alpha(opacity=50); 
}

#maincontent .countryflag{
	background-color:white;
	padding-right:0px;
	margin-right:2p
}
#
content{
	min-width:600px;
	text-transform:none;
}

.forumDescription{
	width:75%;
}
